In [402]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
np.random.seed(42)
pd.set_option('display.max_rows', None)

In [403]:
df = pd.read_csv(r"train.csv")
dfTest = pd.read_csv(r"test.csv")
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [404]:
dfTest.drop(columns=['PassengerId'], inplace=True)
df.drop(columns=['PassengerId'], inplace=True)


tickets=pd.concat([df['Ticket'],dfTest['Ticket']],ignore_index=True)
"""dfTest.drop(columns=['Ticket'], inplace=True)
df.drop(columns=['Ticket'], inplace=True)"""

"dfTest.drop(columns=['Ticket'], inplace=True)\ndf.drop(columns=['Ticket'], inplace=True)"

In [405]:
for index,row in df.iterrows():
    df.loc[df.index[index],'Ticket'] = tickets.value_counts()[row['Ticket']]

for index,row in dfTest.iterrows():
    dfTest.loc[df.index[index],'Ticket'] = tickets.value_counts()[row['Ticket']]

In [406]:
dfTest

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Kelly, Mr. James",male,34.50,0,0,1,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,1,7.0000,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,1,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27.00,0,0,1,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,2,12.2875,NaN,S
5,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,1,9.2250,NaN,S
6,3,"Connolly, Miss. Kate",female,30.00,0,0,1,7.6292,NaN,Q
7,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,3,29.0000,NaN,S
8,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,1,7.2292,NaN,C
9,3,"Davies, Mr. John Samuel",male,21.00,2,0,3,24.1500,NaN,S
10,3,"Ilieff, Mr. Ylio",male,NaN,0,0,1,7.8958,NaN,S
11,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,1,26.0000,NaN,S
12,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,2,82.2667,B45,S
13,2,"Howard, Mr. Benjamin",male,63.00,1,0,2,26.0000,NaN,S
14,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,2,61.1750,E31,S
15,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,2,27.7208,NaN,C
16,2,"Keane, Mr. Daniel",male,35.00,0,0,1,12.3500,NaN,Q
17,3,"Assaf, Mr. Gerios",male,21.00,0,0,1,7.2250,NaN,C
18,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,1,7.9250,NaN,S
19,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,1,7.2250,NaN,C
20,1,"Rothschild, Mr. Martin",male,55.00,1,0,2,59.4000,NaN,C
21,3,"Olsen, Master. Artur Karl",male,9.00,0,1,1,3.1708,NaN,S
22,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,1,31.6833,NaN,S
23,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,2,61.3792,NaN,C
24,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,7,262.3750,B57 B59 B63 B66,C
25,3,"Robins, Mr. Alexander A",male,50.00,1,0,2,14.5000,NaN,S
26,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,2,61.9792,B36,C
27,3,"Daher, Mr. Shedid",male,22.50,0,0,1,7.2250,NaN,C
28,1,"Brady, Mr. John Bertram",male,41.00,0,0,1,30.5000,A21,S
29,3,"Samaan, Mr. Elias",male,NaN,2,0,3,21.6792,NaN,C
30,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,2,26.0000,NaN,S
31,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,3,31.5000,NaN,S
32,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,4,20.5750,NaN,S
33,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,4,23.4500,NaN,S
34,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,2,57.7500,C78,C
35,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,1,7.2292,NaN,C
36,3,"Roth, Miss. Sarah A",female,NaN,0,0,1,8.0500,NaN,S
37,3,"Cacic, Miss. Manda",female,21.00,0,0,1,8.6625,NaN,S
38,3,"Sap, Mr. Julius",male,25.00,0,0,1,9.5000,NaN,S
39,3,"Hee, Mr. Ling",male,NaN,0,0,8,56.4958,NaN,S
40,3,"Karun, Mr. Franz",male,39.00,0,1,2,13.4167,NaN,C
41,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,1,26.5500,D34,S
42,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,1,7.8500,NaN,S
43,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,1,13.0000,NaN,S
44,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,2,52.5542,D19,S
45,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,1,7.9250,NaN,S
46,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,1,29.7000,A9,C
47,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,1,7.7500,NaN,Q
48,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,2,76.2917,D15,C
49,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,3,15.9000,NaN,S
50,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,2,60.0000,C31,S
51,2,"Pulbaum, Mr. Franz",male,27.00,0,0,1,15.0333,NaN,C
52,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,2,23.0000,NaN,S
53,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,6,263.0000,C23 C25 C27,S
54,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,1,15.5792,NaN,C
55,3,"Rice, Master. Albert",male,10.00,4,1,6,29.1250,NaN,Q
56,3,"Cor, Mr. Bartol",male,35.00,0,0,1,7.8958,NaN,S
57,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,1,7.6500,F G63,S
58,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,2,16.1000,NaN,S
59,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,7,262.3750,B61,C
60,3,"Dika, Mr. Mirko",male,17.00,0,0,1,7.8958,NaN,S
61,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,1,13.5000,NaN,S
62,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,1,7.7500,NaN,S
63,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,1,7.7250,NaN,Q
64,1,"Ryerson, Master. John Borie",male,13.00,2,2,7,262.3750,B57 B59 B63 B66,C
65,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,2,21.0000,NaN,S
66,3,"Burns, Miss. Mary Delia",female,18.00,0,0,1,7.8792,NaN,Q
67,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,2,42.4000,NaN,S
68,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,1,28.5375,C53,C
69,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,6,263.0000,C23 C25 C27,S
70,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,1,7.7500,NaN,Q
71,3,"Minkoff, Mr. Lazar",male,21.00,0,0,1,7.8958,NaN,S
72,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,1,7.9250,NaN,S
73,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,1,27.7208,D43,C
74,1,"Geiger, Miss. Amalie",female,35.00,0,0,5,211.5000,C130,C
75,1,"Keeping, Mr. Edwin",male,32.50,0,0,5,211.5000,C132,C
76,3,"Miles, Mr. Frank",male,NaN,0,0,1,8.0500,NaN,S
77,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,1,25.7000,C101,S
78,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,1,13.0000,NaN,S
79,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,1,7.7500,NaN,Q
80,3,"Boulos, Master. Akar",male,6.00,1,1,3,15.2458,NaN,C
81,1,"Straus, Mr. Isidor",male,67.00,1,0,4,221.7792,C55 C57,S
82,1,"Case, Mr. Howard Brown",male,49.00,0,0,1,26.0000,NaN,S
83,3,"Demetri, Mr. Marinko",male,NaN,0,0,1,7.8958,NaN,S
84,2,"Lamb, Mr. John Joseph",male,NaN,0,0,1,10.7083,NaN,Q
85,3,"Khalil, Mr. Betros",male,NaN,1,0,2,14.4542,NaN,C
86,3,"Barry, Miss. Julia",female,27.00,0,0,1,7.8792,NaN,Q
87,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,1,8.0500,NaN,S
88,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,1,7.7500,NaN,Q
89,2,"Wells, Master. Ralph Lester",male,2.00,1,1,3,23.0000,NaN,S
90,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,2,13.9000,NaN,S
91,3,"Pedersen, Mr. Olaf",male,NaN,0,0,1,7.7750,NaN,S
92,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,2,52.0000,B71,S
93,3,"Guest, Mr. Robert",male,NaN,0,0,1,8.0500,NaN,S
94,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,1,26.0000,NaN,C
95,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,1,7.7958,NaN,S
96,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,3,78.8500,C46,S
97,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,1,7.9250,NaN,S
98,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,1,7.8542,NaN,S
99,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,1,8.0500,NaN,S
100,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,2,55.4417,C116,C
101,2,"Weisz, Mr. Leopold",male,27.00,1,0,2,26.0000,NaN,S
102,3,"Foley, Mr. William",male,NaN,0,0,1,7.7500,NaN,Q
103,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,1,7.7750,NaN,S
104,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2,8.5167,NaN,C
105,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,3,22.5250,NaN,S
106,3,"Buckley, Mr. Daniel",male,21.00,0,0,1,7.8208,NaN,Q
107,3,"Ryan, Mr. Edward",male,NaN,0,0,1,7.7500,NaN,Q
108,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,1,8.7125,NaN,S
109,2,"Swane, Mr. George",male,18.50,0,0,1,13.0000,F,S
110,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,1,15.0458,NaN,C
111,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,1,7.7792,NaN,Q
112,1,"Evans, Miss. Edith Corse",female,36.00,0,0,1,31.6792,A29,C
113,3,"Buckley, Miss. Katherine",female,18.50,0,0,1,7.2833,NaN,Q
114,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.00,1,0,4,221.7792,C55 C57,S
115,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2,14.4542,NaN,C
116,3,"Thomas, Mr. John",male,NaN,0,0,1,6.4375,NaN,C
117,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,3,16.7000,G6,S
118,1,"Beattie, Mr. Thomson",male,36.00,0,0,2,75.2417,C6,C
119,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,2,26.0000,NaN,S
120,2,"Watt, Miss. Bertha J",female,12.00,0,0,2,15.7500,NaN,S
121,3,"Kiernan, Mr. John",male,NaN,1,0,1,7.7500,NaN,Q
122,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,2,57.7500,C28,C
123,3,"Carver, Mr. Alfred John",male,28.00,0,0,1,7.2500,NaN,S
124,3,"Kennedy, Mr. John",male,NaN,0,0,1,7.7500,NaN,Q
125,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,2,16.1000,NaN,S
126,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,1,7.7958,NaN,S
127,3,"McCoy, Miss. Alicia",female,NaN,2,0,3,23.2500,NaN,Q
128,2,"Bowenur, Mr. Solomon",male,42.00,0,0,1,13.0000,NaN,S
129,3,"Petersen, Mr. Marius",male,24.00,0,0,1,8.0500,NaN,S
130,3,"Spinner, Mr. Henry John",male,32.00,0,0,1,8.0500,NaN,S
131,1,"Gracie, Col. Archibald IV",male,53.00,0,0,1,28.5000,C51,C
132,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,5,25.4667,NaN,S
133,3,"Thomas, Mr. Charles P",male,NaN,1,0,1,6.4375,NaN,C
134,3,"Dintcheff, Mr. Valtcho",male,43.00,0,0,1,7.8958,NaN,S
135,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,1,7.8542,NaN,S
136,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,1,7.2250,NaN,C
137,2,"Schmidt, Mr. August",male,26.00,0,0,1,13.0000,NaN,S
138,3,"Drapkin, Miss. Jennie",female,23.00,0,0,1,8.0500,NaN,S
139,3,"Goodwin, Mr. Charles Frederick",male,40.00,1,6,8,46.9000,NaN,S
140,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,8,46.9000,NaN,S
141,1,"Daniels, Miss. Sarah",female,33.00,0,0,6,151.5500,NaN,S
142,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,7,262.3750,B57 B59 B63 B66,C
143,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,2,26.0000,NaN,S
144,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42.00,0,0,1,26.5500,NaN,S
145,3,"Vander Planke, Mr. Julius",male,31.00,3,0,2,18.0000,NaN,S
146,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,2,51.8625,E46,S
147,3,"Davies, Mr. Evan",male,22.00,0,0,1,8.0500,NaN,S
148,1,"Crafton, Mr. John Bertram",male,NaN,0,0,1,26.5500,NaN,S
149,2,"Lahtinen, Rev. William",male,30.00,1,1,2,26.0000,NaN,S
150,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,3,83.1583,C54,C
151,3,"Matinoff, Mr. Nicola",male,NaN,0,0,1,7.8958,NaN,C
152,3,"Storey, Mr. Thomas",male,60.50,0,0,1,NaN,NaN,S
153,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,2,12.1833,NaN,S
154,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,7,31.3875,NaN,S
155,3,"Duquemin, Mr. Joseph",male,24.00,0,0,1,7.5500,NaN,S
156,1,"Bird, Miss. Ellen",female,29.00,0,0,4,221.7792,C97,S
157,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,1,7.8542,NaN,S
158,1,"Borebank, Mr. John James",male,42.00,0,0,1,26.5500,D22,S
159,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,3,13.7750,NaN,S
160,3,"Smyth, Miss. Julia",female,NaN,0,0,1,7.7333,NaN,Q
161,3,"Touma, Master. Georges Youssef",male,7.00,1,1,3,15.2458,NaN,C
162,2,"Wright, Miss. Marion",female,26.00,0,0,1,13.5000,NaN,S
163,3,"Pearce, Mr. Ernest",male,NaN,0,0,1,7.0000,NaN,S
164,2,"Peruschitz, Rev. Joseph Maria",male,41.00,0,0,1,13.0000,NaN,S
165,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,3,22.0250,NaN,S
166,1,"Brandeis, Mr. Emil",male,48.00,0,0,1,50.4958,B10,C
167,3,"Ford, Mr. Edward Watson",male,18.00,2,2,5,34.3750,NaN,S
168,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,1,27.7208,NaN,C
169,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,1,8.9625,NaN,S
170,3,"Lithman, Mr. Simon",male,NaN,0,0,1,7.5500,NaN,S
171,3,"Zakarian, Mr. Ortin",male,27.00,0,0,1,7.2250,NaN,C
172,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,2,13.9000,NaN,S
173,3,"Torfa, Mr. Assad",male,NaN,0,0,1,7.2292,NaN,C
174,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.00,1,5,7,31.3875,NaN,S
175,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,3,39.0000,NaN,S
176,2,"Sincock, Miss. Maude",female,20.00,0,0,4,36.7500,NaN,S
177,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,2,55.4417,C116,C
178,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.00,0,3,4,39.0000,F4,S
179,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,3,83.1583,E45,C
180,2,"McCrie, Mr. James Matthew",male,30.00,0,0,1,13.0000,NaN,S
181,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,3,83.1583,E52,C
182,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,2,53.1000,D30,S
183,3,"Lane, Mr. Patrick",male,NaN,0,0,1,7.7500,NaN,Q
184,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,3,247.5208,B58 B60,C
185,2,"Maybery, Mr. Frank Hubert",male,40.00,0,0,1,16.0000,NaN,S
186,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,2,21.0000,NaN,S
187,3,"Davies, Mr. Joseph",male,17.00,2,0,1,8.0500,NaN,S
188,3,"Sage, Miss. Ada",female,NaN,8,2,11,69.5500,NaN,S
189,2,"Veal, Mr. James",male,40.00,0,0,1,13.0000,NaN,S
190,2,"Angle, Mr. William A",male,34.00,1,0,2,26.0000,NaN,S
191,1,"Salomon, Mr. Abraham L",male,NaN,0,0,1,26.0000,NaN,S
192,3,"van Billiard, Master. Walter John",male,11.50,1,1,3,14.5000,NaN,S
193,2,"Lingane, Mr. John",male,61.00,0,0,1,12.3500,NaN,Q
194,2,"Drew, Master. Marshall Brines",male,8.00,0,2,3,32.5000,NaN,S
195,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,1,7.8542,NaN,S
196,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,5,134.5000,E34,C
197,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,1,7.7750,NaN,S
198,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,1,10.5000,NaN,S
199,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,1,8.1125,NaN,S
200,3,"Murphy, Miss. Nora",female,NaN,0,0,2,15.5000,NaN,Q
201,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,3,14.4000,NaN,S
202,1,"Astor, Col. John Jacob",male,47.00,1,0,5,227.5250,C62 C64,C
203,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,3,26.0000,NaN,S
204,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,1,10.5000,NaN,S
205,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,1,25.7417,NaN,C
206,3,"McGowan, Miss. Katherine",female,35.00,0,0,1,7.7500,NaN,Q
207,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,1,10.5000,NaN,S
208,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,1,27.7208,A11,C
209,3,"Delalic, Mr. Redjo",male,25.00,0,0,1,7.8958,NaN,S
210,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,3,22.5250,NaN,S
211,3,"Finoli, Mr. Luigi",male,NaN,0,0,1,7.0500,NaN,S
212,2,"Deacon, Mr. Percy William",male,17.00,0,0,7,73.5000,NaN,S
213,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.00,1,0,2,26.0000,NaN,S
214,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,1,7.7750,NaN,S
215,1,"Head, Mr. Christopher",male,42.00,0,0,1,42.5000,B11,S
216,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,1,7.8792,NaN,Q
217,1,"Wick, Mr. George Dennick",male,57.00,1,1,4,164.8667,NaN,S
218,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,5,211.5000,C80,C
219,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,1,8.0500,NaN,S
220,2,"Duran y More, Miss. Florentina",female,30.00,1,0,1,13.8583,NaN,C
221,3,"Reynolds, Mr. Harold J",male,21.00,0,0,1,8.0500,NaN,S
222,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,1,10.5000,F33,S
223,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,1,7.7958,NaN,S
224,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,1,27.4458,NaN,C
225,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,3,15.2458,NaN,C
226,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,1,7.7958,NaN,S
227,3,"McNeill, Miss. Bridget",female,NaN,0,0,1,7.7500,NaN,Q
228,3,"Everett, Mr. Thomas James",male,40.50,0,0,2,15.1000,NaN,S
229,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,1,13.0000,NaN,S
230,2,"Sweet, Mr. George Frederick",male,14.00,0,0,5,65.0000,NaN,S
231,1,"Willard, Miss. Constance",female,21.00,0,0,1,26.5500,NaN,S
232,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,1,6.4958,NaN,S
233,3,"Linehan, Mr. Michael",male,NaN,0,0,1,7.8792,NaN,Q
234,1,"Cumings, Mr. John Bradley",male,39.00,1,0,2,71.2833,C85,C
235,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,1,7.8542,NaN,S
236,1,"Warren, Mr. Frank Manley",male,64.00,1,0,2,75.2500,D37,C
237,3,"Baccos, Mr. Raffull",male,20.00,0,0,1,7.2250,NaN,C
238,2,"Hiltunen, Miss. Marta",female,18.00,1,1,1,13.0000,NaN,S
239,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,3,106.4250,C86,C
240,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,1,27.7208,NaN,C
241,2,"Christy, Mrs. (Alice Frances)",female,45.00,0,2,2,30.0000,NaN,S
242,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,5,134.5000,E34,C
243,3,"Hyman, Mr. Abraham",male,NaN,0,0,1,7.8875,NaN,S
244,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,4,23.4500,NaN,S
245,1,"Kenyon, Mr. Frederick R",male,41.00,1,0,2,51.8625,D21,S
246,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,2,21.0000,NaN,S
247,2,"Drew, Mr. James Vivian",male,42.00,1,1,3,32.5000,NaN,S
248,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,2,26.0000,NaN,S
249,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2,14.4542,NaN,C
250,2,"West, Miss. Barbara J",female,0.92,1,2,4,27.7500,NaN,S
251,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00,0,0,1,7.9250,NaN,S
252,1,"Clark, Mr. Walter Miller",male,27.00,1,0,2,136.7792,C89,C
253,3,"Salander, Mr. Karl Johan",male,24.00,0,0,1,9.3250,NaN,S
254,3,"Wenzel, Mr. Linhart",male,32.50,0,0,1,9.5000,NaN,S
255,3,"MacKay, Mr. George William",male,NaN,0,0,1,7.5500,NaN,S
256,3,"Mahon, Mr. John",male,NaN,0,0,1,7.7500,NaN,Q
257,3,"Niklasson, Mr. Samuel",male,28.00,0,0,1,8.0500,NaN,S
258,2,"Bentham, Miss. Lilian W",female,19.00,0,0,1,13.0000,NaN,S
259,3,"Midtsjo, Mr. Karl Albert",male,21.00,0,0,1,7.7750,NaN,S
260,3,"de Messemaeker, Mr. Guillaume Joseph",male,36.50,1,0,2,17.4000,NaN,S
261,3,"Nilsson, Mr. August Ferdinand",male,21.00,0,0,1,7.8542,NaN,S
262,2,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",female,29.00,0,2,3,23.0000,NaN,S
263,3,"Klasen, Miss. Gertrud Emilia",female,1.00,1,1,2,12.1833,NaN,S
264,2,"Portaluppi, Mr. Emilio Ilario Giuseppe",male,30.00,0,0,1,12.7375,NaN,C
265,3,"Lyntakoff, Mr. Stanko",male,NaN,0,0,1,7.8958,NaN,S
266,1,"Chisholm, Mr. Roderick Robert Crispin",male,NaN,0,0,1,0.0000,NaN,S
267,3,"Warren, Mr. Charles William",male,NaN,0,0,1,7.5500,NaN,S
268,3,"Howard, Miss. May Elizabeth",female,NaN,0,0,1,8.0500,NaN,S
269,3,"Pokrnic, Mr. Mate",male,17.00,0,0,1,8.6625,NaN,S
270,1,"McCaffry, Mr. Thomas Francis",male,46.00,0,0,2,75.2417,C6,C
271,3,"Fox, Mr. Patrick",male,NaN,0,0,1,7.7500,NaN,Q
272,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26.00,1,0,2,136.7792,C89,C
273,3,"Lennon, Miss. Mary",female,NaN,1,0,2,15.5000,NaN,Q
274,3,"Saade, Mr. Jean Nassr",male,NaN,0,0,1,7.2250,NaN,C
275,2,"Bryhl, Miss. Dagmar Jenny Ingeborg",female,20.00,1,0,2,26.0000,NaN,S
276,2,"Parker, Mr. Clifford Richard",male,28.00,0,0,1,10.5000,NaN,S
277,2,"Faunthorpe, Mr. Harry",male,40.00,1,0,2,26.0000,NaN,S
278,2,"Ware, Mr. John James",male,30.00,1,0,2,21.0000,NaN,S
279,2,"Oxenham, Mr. Percy Thomas",male,22.00,0,0,1,10.5000,NaN,S
280,3,"Oreskovic, Miss. Jelka",female,23.00,0,0,1,8.6625,NaN,S
281,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,3,13.7750,NaN,S
282,3,"Fleming, Miss. Honora",female,NaN,0,0,1,7.7500,NaN,Q
283,3,"Touma, Miss. Maria Youssef",female,9.00,1,1,3,15.2458,NaN,C
284,3,"Rosblom, Miss. Salli Helena",female,2.00,1,1,3,20.2125,NaN,S
285,3,"Dennis, Mr. William",male,36.00,0,0,1,7.2500,NaN,S
286,3,"Franklin, Mr. Charles (Charles Fardon)",male,NaN,0,0,1,7.2500,NaN,S
287,1,"Snyder, Mr. John Pillsbury",male,24.00,1,0,2,82.2667,B45,S
288,3,"Mardirosian, Mr. Sarkis",male,NaN,0,0,1,7.2292,F E46,C
289,3,"Ford, Mr. Arthur",male,NaN,0,0,1,8.0500,NaN,S
290,1,"Rheims, Mr. George Alexander Lucien",male,NaN,0,0,1,39.6000,NaN,S
291,3,"Daly, Miss. Margaret Marcella Maggie""""",female,30.00,0,0,1,6.9500,NaN,Q
292,3,"Nasr, Mr. Mustafa",male,NaN,0,0,1,7.2292,NaN,C
293,1,"Dodge, Dr. Washington",male,53.00,1,1,3,81.8583,A34,S
294,3,"Wittevrongel, Mr. Camille",male,36.00,0,0,1,9.5000,NaN,S
295,3,"Angheloff, Mr. Minko",male,26.00,0,0,1,7.8958,NaN,S
296,2,"Laroche, Miss. Louise",female,1.00,1,2,4,41.5792,NaN,C

In [ ]:
"""df['Ticket'] = df['Ticket'].astype("category").cat.as_ordered()
dfTest['Ticket'] = dfTest['Ticket'].astype("category").cat.as_ordered()

df['Ticket'] = pd.Categorical(df['Ticket']).codes
dfTest['Ticket'] = pd.Categorical(dfTest['Ticket']).codes"""

In [407]:
df["cabin_is_missing"] = pd.isnull(df['Cabin'])
dfTest["cabin_is_missing"] = pd.isnull(dfTest['Cabin'])

In [408]:
cb=["x","1","2","3"]
for i in range(0,891):
    #print(df.loc[df.index == i, 'Cabin'],df.iloc[i]['Cabin'])
    if (type(df.loc[df.index[i],'Cabin']) == str):
       #df.loc[df.index[i],'Cabin']=df.loc[df.index[i],'Cabin'][0]+cb[df.loc[df.index[i],'Pclass']]
        df.loc[df.index[i],'Cabin']=df.loc[df.index[i],'Cabin'][0]
    else:
        df.loc[df.index[i],'Cabin']='M'

for i in range(0,418):
    #print(df.loc[df.index == i, 'Cabin'],df.iloc[i]['Cabin'])
    if (type(dfTest.loc[df.index[i],'Cabin']) == str):
       #dfTest.loc[dfTest.index[i],'Cabin']=dfTest.loc[dfTest.index[i],'Cabin'][0]+cb[dfTest.loc[dfTest.index[i],'Pclass']]
        dfTest.loc[dfTest.index[i],'Cabin']=dfTest.loc[dfTest.index[i],'Cabin'][0]
    else:
        dfTest.loc[dfTest.index[i],'Cabin']='M'

In [409]:
df['Embarked'].fillna('S', inplace=True)
dfTest['Fare'].fillna(10000, inplace=True)

titlesTrain=df['Name'].str.extract(' ([a-zA-Z]+)\.', expand= False).unique()
titlesTest=dfTest['Name'].str.extract(' ([a-zA-Z]+)\.', expand= False).unique()

emTrain=df['Embarked'].unique()
emTest=dfTest['Embarked'].unique()

cabinTrain=df['Cabin'].unique()
cabinTest=dfTest['Cabin'].unique()

print(emTrain,emTest)
titles=np.append(titlesTest,titlesTrain)
embark=np.append(emTest,emTrain)
cabin=np.append(cabinTrain, cabinTest)
print(embark)


titles=np.unique(titles)
embark=np.unique(embark)
cabin=np.unique(cabin)

titles[2]='the'
sex=[0,1]
print(titles, embark,cabin)

['S' 'C' 'Q'] ['Q' 'S' 'C']
['Q' 'S' 'C' 'S' 'C' 'Q']
['Capt' 'Col' 'the' 'Don' 'Dona' 'Dr' 'Jonkheer' 'Lady' 'Major' 'Master'
 'Miss' 'Mlle' 'Mme' 'Mr' 'Mrs' 'Ms' 'Rev' 'Sir'] ['C' 'Q' 'S'] ['A' 'B' 'C' 'D' 'E' 'F' 'G' 'M' 'T']

In [410]:
for i in range(0,891):
    s=df.loc[df.index[i], 'Sex'].split(",")
    if(s[0] == 'male'):
        df.loc[df.index[i], 'Sex']=sex[0]
    else:
        df.loc[df.index[i], 'Sex']=sex[1]

for i in range(0,418):
    s=dfTest.loc[dfTest.index[i], 'Sex'].split(",")
    if(s[0] == 'male'):
        dfTest.loc[dfTest.index[i], 'Sex']=sex[0]
    else:
        dfTest.loc[dfTest.index[i], 'Sex']=sex[1]

In [411]:
for i in range(0,891):
    s=df.loc[df.index[i], 'Cabin']
    #print(s)
    df.loc[df.index[i], 'Cabin']=np.where(cabin == s)[0][0].astype(int)
    #print(np.where(cabin == s)[0][0],i)
for i in range(0,418):
    s=dfTest.loc[dfTest.index[i], 'Cabin']
    dfTest.loc[dfTest.index[i], 'Cabin']=np.where(cabin == s)[0][0].astype(int)
    #print(np.where(cabin == s)[0][0],i)

In [412]:
for i in range(0,891):
    s=df.loc[df.index[i], 'Embarked']
    #print(s)
    df.loc[df.index[i], 'Embarked']=np.where(embark == s)[0][0].astype(int)
    #print(np.where(embark == s)[0][0],i)
for i in range(0,418):
    s=dfTest.loc[dfTest.index[i], 'Embarked']
    dfTest.loc[dfTest.index[i], 'Embarked']=np.where(embark == s)[0][0].astype(int)
    #print(np.where(embark == s)[0][0],i)

In [413]:
for i in range(0,891):
    tmp=df.loc[df.index[i], 'Name'].split(",")
    t=tmp[1].split(".")
    #print(t)
    t=t[0].split()
    print(t)
    df.loc[df.index[i], 'Name']=np.where(titles == t[0])[0][0].astype(int)
    print(np.where(titles == t[0])[0][0],i)

['Mr']
13 0
['Mrs']
14 1
['Miss']
10 2
['Mrs']
14 3
['Mr']
13 4
['Mr']
13 5
['Mr']
13 6
['Master']
9 7
['Mrs']
14 8
['Mrs']
14 9
['Miss']
10 10
['Miss']
10 11
['Mr']
13 12
['Mr']
13 13
['Miss']
10 14
['Mrs']
14 15
['Master']
9 16
['Mr']
13 17
['Mrs']
14 18
['Mrs']
14 19
['Mr']
13 20
['Mr']
13 21
['Miss']
10 22
['Mr']
13 23
['Miss']
10 24
['Mrs']
14 25
['Mr']
13 26
['Mr']
13 27
['Miss']
10 28
['Mr']
13 29
['Don']
3 30
['Mrs']
14 31
['Miss']
10 32
['Mr']
13 33
['Mr']
13 34
['Mr']
13 35
['Mr']
13 36
['Mr']
13 37
['Miss']
10 38
['Miss']
10 39
['Mrs']
14 40
['Mrs']
14 41
['Mr']
13 42
['Miss']
10 43
['Miss']
10 44
['Mr']
13 45
['Mr']
13 46
['Miss']
10 47
['Mr']
13 48
['Mrs']
14 49
['Master']
9 50
['Mr']
13 51
['Mrs']
14 52
['Mrs']
14 53
['Mr']
13 54
['Mr']
13 55
['Miss']
10 56
['Mr']
13 57
['Miss']
10 58
['Master']
9 59
['Mr']
13 60
['Miss']
10 61
['Mr']
13 62
['Master']
9 63
['Mr']
13 64
['Master']
9 65
['Mrs']
14 66
['Mr']
13 67
['Miss']
10 68
['Mr']
13 69
['Mr']
13 70
['Miss']
10 71
['Mr']
13 72
['Mr']
13 73
['Mr']
13 74
['Mr']
13 75
['Mr']
13 76
['Mr']
13 77
['Master']
9 78
['Miss']
10 79
['Mr']
13 80
['Mr']
13 81
['Miss']
10 82
['Mr']
13 83
['Miss']
10 84
['Mrs']
14 85
['Mr']
13 86
['Mr']
13 87
['Miss']
10 88
['Mr']
13 89
['Mr']
13 90
['Mr']
13 91
['Mr']
13 92
['Mr']
13 93
['Mr']
13 94
['Mr']
13 95
['Mr']
13 96
['Mr']
13 97
['Mrs']
14 98
['Mr']
13 99
['Miss']
10 100
['Mr']
13 101
['Mr']
13 102
['Mr']
13 103
['Mr']
13 104
['Mr']
13 105
['Miss']
10 106
['Mr']
13 107
['Mr']
13 108
['Miss']
10 109
['Mr']
13 110
['Miss']
10 111
['Mr']
13 112
['Miss']
10 113
['Miss']
10 114
['Mr']
13 115
['Mr']
13 116
['Mr']
13 117
['Mr']
13 118
['Miss']
10 119
['Mr']
13 120
['Mr']
13 121
['Mr']
13 122
['Miss']
10 123
['Mr']
13 124
['Master']
9 125
['Mr']
13 126
['Mr']
13 127
['Miss']
10 128
['Mr']
13 129
['Mr']
13 130
['Mr']
13 131
['Mrs']
14 132
['Mrs']
14 133
['Mr']
13 134
['Mr']
13 135
['Miss']
10 136
['Mr']
13 137
['Mr']
13 138
['Mr']
13 139
['Mrs']
14 140
['Miss']
10 141
['Mrs']
14 142
['Mr']
13 143
['Mr']
13 144
['Mr']
13 145
['Mr']
13 146
['Miss']
10 147
['Mr']
13 148
['Rev']
16 149
['Rev']
16 150
['Mrs']
14 151
['Mr']
13 152
['Mr']
13 153
['Mr']
13 154
['Mr']
13 155
['Miss']
10 156
['Mr']
13 157
['Mr']
13 158
['Master']
9 159
['Mr']
13 160
['Mrs']
14 161
['Mr']
13 162
['Mr']
13 163
['Master']
9 164
['Master']
9 165
['Mrs']
14 166
['Mrs']
14 167
['Mr']
13 168
['Mr']
13 169
['Mr']
13 170
['Master']
9 171
['Miss']
10 172
['Mr']
13 173
['Mr']
13 174
['Mr']
13 175
['Master']
9 176
['Miss']
10 177
['Mr']
13 178
['Mr']
13 179
['Miss']
10 180
['Mr']
13 181
['Master']
9 182
['Master']
9 183
['Miss']
10 184
['Mr']
13 185
['Mrs']
14 186
['Mr']
13 187
['Mr']
13 188
['Mr']
13 189
['Mrs']
14 190
['Mr']
13 191
['Miss']
10 192
['Master']
9 193
['Mrs']
14 194
['Miss']
10 195
['Mr']
13 196
['Mr']
13 197
['Miss']
10 198
['Miss']
10 199
['Mr']
13 200
['Mr']
13 201
['Mr']
13 202
['Mr']
13 203
['Mr']
13 204
['Miss']
10 205
['Mr']
13 206
['Mr']
13 207
['Miss']
10 208
['Mr']
13 209
['Mr']
13 210
['Miss']
10 211
['Mr']
13 212
['Mr']
13 213
['Mr']
13 214
['Miss']
10 215
['Miss']
10 216
['Mr']
13 217
['Miss']
10 218
['Mr']
13 219
['Mr']
13 220
['Mr']
13 221
['Mr']
13 222
['Mr']
13 223
['Mr']
13 224
['Mr']
13 225
['Mr']
13 226
['Mr']
13 227
['Mr']
13 228
['Miss']
10 229
['Mrs']
14 230
['Mr']
13 231
['Mr']
13 232
['Miss']
10 233
['Mr']
13 234
['Miss']
10 235
['Mr']
13 236
['Miss']
10 237
['Mr']
13 238
['Mr']
13 239
['Miss']
10 240
['Miss']
10 241
['Mr']
13 242
['Mr']
13 243
['Mr']
13 244
['Dr']
5 245
['Miss']
10 246
['Mrs']
14 247
['Mr']
13 248
['Rev']
16 249
['Mr']
13 250
['Mrs']
14 251
['Mr']
13 252
['Mr']
13 253
['Mrs']
14 254
['Mrs']
14 255
['Mrs']
14 256
['Miss']
10 257
['Miss']
10 258
['Mrs']
14 259
['Mr']
13 260
['Master']
9 261
['Mr']
13 262
['Mr']
13 263
['Miss']
10 264
['Mr']
13 265
['Mr']
13 266
['Mr']
13 267
['Mrs']
14 268
['Miss']
10 269
['Mr']
13 270
['Mr']
13 271
['Mrs']
14 272
['Mr']
13 273
['Miss']
10 274
['Miss']
10 275
['Miss']
10 276
['Mr']
13 277
['Master']
9 278
['Mrs']
14 279
['Mr']
13 280
['Mr']
13 281
['Mr']
13 282
['Mr']
13 283
['Mr']
13 284
['Mr']
13 285
['Mr']
13 286
['Mr']
13 287
['Mr']
13 288
['Miss']
10 289
['Miss']
10 290
['Mrs']
14 291
['Mr']
13 292
['Miss']
10 293
['Mr']
13 294
['Mr']
13 295
['Mr']
13 296
['Miss']
10 297
['Mr']
13 298
['Mrs']
14 299
['Miss']
10 300
['Mr']
13 301
['Mr']
13 302
['Miss']
10 303
['Mr']
13 304
['Master']
9 305
['Miss']
10 306
['Mrs']
14 307
['Mr']
13 308
['Miss']
10 309
['Miss']
10 310
['Miss']
10 311
['Mrs']
14 312
['Mr']
13 313
['Mr']
13 314
['Miss']
10 315
['Mrs']
14 316
['Dr']
5 317
['Miss']
10 318
['Mrs']
14 319
['Mr']
13 320
['Mr']
13 321
['Miss']
10 322
['Mrs']
14 323
['Mr']
13 324
['Miss']
10 325
['Mr']
13 326
['Mrs']
14 327
['Mrs']
14 328
['Miss']
10 329
['Miss']
10 330
['Mr']
13 331
['Mr']
13 332
['Mr']
13 333
['Mrs']
14 334
['Mr']
13 335
['Mr']
13 336
['Miss']
10 337
['Mr']
13 338
['Mr']
13 339
['Master']
9 340
['Miss']
10 341
['Mr']
13 342
['Mr']
13 343
['Mr']
13 344
['Miss']
10 345
['Miss']
10 346
['Mrs']
14 347
['Master']
9 348
['Mr']
13 349
['Mr']
13 350
['Mr']
13 351
['Mr']
13 352
['Mr']
13 353
['Mr']
13 354
['Mr']
13 355
['Miss']
10 356
['Miss']
10 357
['Miss']
10 358
['Miss']
10 359
['Mr']
13 360
['Mr']
13 361
['Mrs']
14 362
['Mr']
13 363
['Mr']
13 364
['Mr']
13 365
['Mrs']
14 366
['Mrs']
14 367
['Miss']
10 368
['Mme']
12 369
['Mr']
13 370
['Mr']
13 371
['Mr']
13 372
['Mr']
13 373
['Miss']
10 374
['Mrs']
14 375
['Miss']
10 376
['Mr']
13 377
['Mr']
13 378
['Mr']
13 379
['Miss']
10 380
['Miss']
10 381
['Mr']
13 382
['Mrs']
14 383
['Mr']
13 384
['Mr']
13 385
['Master']
9 386
['Miss']
10 387
['Mr']
13 388
['Miss']
10 389
['Mr']
13 390
['Mr']
13 391
['Mr']
13 392
['Miss']
10 393
['Mrs']
14 394
['Mr']
13 395
['Miss']
10 396
['Mr']
13 397
['Dr']
5 398
['Mrs']
14 399
['Mr']
13 400
['Mr']
13 401
['Miss']
10 402
['Mr']
13 403
['Miss']
10 404
['Mr']
13 405
['Mr']
13 406
['Master']
9 407
['Mr']
13 408
['Miss']
10 409
['Mr']
13 410
['Mr']
13 411
['Miss']
10 412
['Mr']
13 413
['Mr']
13 414
['Mrs']
14 415
['Mrs']
14 416
['Miss']
10 417
['Mr']
13 418
['Miss']
10 419
['Mr']
13 420
['Mr']
13 421
['Mr']
13 422
['Mrs']
14 423
['Mr']
13 424
['Mr']
13 425
['Mrs']
14 426
['Miss']
10 427
['Mr']
13 428
['Mr']
13 429
['Mr']
13 430
['Mrs']
14 431
['Mrs']
14 432
['Mr']
13 433
['Mr']
13 434
['Miss']
10 435
['Miss']
10 436
['Mrs']
14 437
['Mr']
13 438
['Mr']
13 439
['Mrs']
14 440
['Mr']
13 441
['Mr']
13 442
['Ms']
15 443
['Mr']
13 444
['Master']
9 445
['Miss']
10 446
['Mr']
13 447
['Miss']
10 448
['Major']
8 449
['Mr']
13 450
['Mr']
13 451
['Mr']
13 452
['Mr']
13 453
['Mr']
13 454
['Mr']
13 455
['Mr']
13 456
['Mrs']
14 457
['Miss']
10 458
['Mr']
13 459
['Mr']
13 460
['Mr']
13 461
['Mr']
13 462
['Mr']
13 463
['Mr']
13 464
['Mr']
13 465
['Mr']
13 466
['Mr']
13 467
['Mr']
13 468
['Miss']
10 469
['Mr']
13 470
['Mr']
13 471
['Mrs']
14 472
['Mrs']
14 473
['Miss']
10 474
['Mr']
13 475
['Mr']
13 476
['Mr']
13 477
['Mr']
13 478
['Miss']
10 479
['Master']
9 480
['Mr']
13 481
['Mr']
13 482
['Mrs']
14 483
['Mr']
13 484
['Miss']
10 485
['Mrs']
14 486
['Mr']
13 487
['Mr']
13 488
['Master']
9 489
['Mr']
13 490
['Mr']
13 491
['Mr']
13 492
['Mr']
13 493
['Mr']
13 494
['Mr']
13 495
['Miss']
10 496
['Mr']
13 497
['Mrs']
14 498
['Mr']
13 499
['Mr']
13 500
['Miss']
10 501
['Miss']
10 502
['Miss']
10 503
['Miss']
10 504
['Mr']
13 505
['Mrs']
14 506
['Mr']
13 507
['Mr']
13 508
['Mr']
13 509
['Mr']
13 510
['Mr']
13 511
['Mr']
13 512
['Mrs']
14 513
['Mr']
13 514
['Mr']
13 515
['Mrs']
14 516
['Mr']
13 517
['Mrs']
14 518
['Mr']
13 519
['Miss']
10 520
['Mr']
13 521
['Mr']
13 522
['Mrs']
14 523
['Mr']
13 524
['Mr']
13 525
['Miss']
10 526
['Mr']
13 527
['Mr']
13 528
['Mr']
13 529
['Miss']
10 530
['Mr']
13 531
['Mr']
13 532
['Mrs']
14 533
['Miss']
10 534
['Miss']
10 535
['Major']
8 536
['Miss']
10 537
['Mr']
13 538
['Miss']
10 539
['Miss']
10 540
['Miss']
10 541
['Miss']
10 542
['Mr']
13 543
['Mr']
13 544
['Mr']
13 545
['Mrs']
14 546
['Mr']
13 547
['Mr']
13 548
['Master']
9 549
['Mr']
13 550
['Mr']
13 551
['Mr']
13 552
['Mr']
13 553
['Miss']
10 554
['Mr']
13 555
['Lady']
7 556
['Mr']
13 557
['Mrs']
14 558
['Mrs']
14 559
['Mr']
13 560
['Mr']
13 561
['Mr']
13 562
['Mr']
13 563
['Miss']
10 564
['Mr']
13 565
['Mr']
13 566
['Mrs']
14 567
['Mr']
13 568
['Mr']
13 569
['Mr']
13 570
['Mrs']
14 571
['Mr']
13 572
['Miss']
10 573
['Mr']
13 574
['Mr']
13 575
['Miss']
10 576
['Mrs']
14 577
['Mrs']
14 578
['Mr']
13 579
['Miss']
10 580
['Mrs']
14 581
['Mr']
13 582
['Mr']
13 583
['Mr']
13 584
['Miss']
10 585
['Mr']
13 586
['Mr']
13 587
['Mr']
13 588
['Mr']
13 589
['Mr']
13 590
['Mrs']
14 591
['Mr']
13 592
['Miss']
10 593
['Mr']
13 594
['Mr']
13 595
['Miss']
10 596
['Mr']
13 597
['Mr']
13 598
['Sir']
17 599
['Mrs']
14 600
['Mr']
13 601
['Mr']
13 602
['Mr']
13 603
['Mr']
13 604
['Mr']
13 605
['Mr']
13 606
['Mr']
13 607
['Mrs']
14 608
['Miss']
10 609
['Mrs']
14 610
['Mr']
13 611
['Miss']
10 612
['Mr']
13 613
['Mr']
13 614
['Miss']
10 615
['Mr']
13 616
['Mrs']
14 617
['Miss']
10 618
['Mr']
13 619
['Mr']
13 620
['Mr']
13 621
['Mr']
13 622
['Mr']
13 623
['Mr']
13 624
['Mr']
13 625
['Rev']
16 626
['Miss']
10 627
['Mr']
13 628
['Mr']
13 629
['Mr']
13 630
['Mr']
13 631
['Dr']
5 632
['Mr']
13 633
['Miss']
10 634
['Miss']
10 635
['Mr']
13 636
['Mr']
13 637
['Mrs']
14 638
['Mr']
13 639
['Mr']
13 640
['Mlle']
11 641
['Miss']
10 642
['Mr']
13 643
['Miss']
10 644
['Mr']
13 645
['Mr']
13 646
['Col']
1 647
['Mr']
13 648
['Miss']
10 649
['Mr']
13 650
['Miss']
10 651
['Mr']
13 652
['Miss']
10 653
['Miss']
10 654
['Mr']
13 655
['Mr']
13 656
['Mrs']
14 657
['Mr']
13 658
['Mr']
13 659
['Dr']
5 660
['Mr']
13 661
['Mr']
13 662
['Mr']
13 663
['Mr']
13 664
['Mr']
13 665
['Mr']
13 666
['Mr']
13 667
['Mr']
13 668
['Mrs']
14 669
['Mrs']
14 670
['Mr']
13 671
['Mr']
13 672
['Mr']
13 673
['Mr']
13 674
['Mr']
13 675
['Mr']
13 676
['Miss']
10 677
['Mrs']
14 678
['Mr']
13 679
['Miss']
10 680
['Mr']
13 681
['Mr']
13 682
['Mr']
13 683
['Mr']
13 684
['Mr']
13 685
['Mr']
13 686
['Mr']
13 687
['Mr']
13 688
['Miss']
10 689
['Mr']
13 690
['Miss']
10 691
['Mr']
13 692
['Mr']
13 693
['Col']
1 694
['Mr']
13 695
['Mr']
13 696
['Miss']
10 697
['Mr']
13 698
['Mr']
13 699
['Mrs']
14 700
['Mr']
13 701
['Miss']
10 702
['Mr']
13 703
['Mr']
13 704
['Mr']
13 705
['Mrs']
14 706
['Mr']
13 707
['Miss']
10 708
['Master']
9 709
['Mlle']
11 710
['Mr']
13 711
['Mr']
13 712
['Mr']
13 713
['Mr']
13 714
['Mr']
13 715
['Miss']
10 716
['Miss']
10 717
['Mr']
13 718
['Mr']
13 719
['Miss']
10 720
['Mr']
13 721
['Mr']
13 722
['Mr']
13 723
['Mr']
13 724
['Mr']
13 725
['Mrs']
14 726
['Miss']
10 727
['Mr']
13 728
['Miss']
10 729
['Miss']
10 730
['Mr']
13 731
['Mr']
13 732
['Mr']
13 733
['Mr']
13 734
['Mr']
13 735
['Mrs']
14 736
['Mr']
13 737
['Mr']
13 738
['Mr']
13 739
['Mr']
13 740
['Mr']
13 741
['Miss']
10 742
['Mr']
13 743
['Mr']
13 744
['Capt']
0 745
['Mr']
13 746
['Miss']
10 747
['Mr']
13 748
['Mr']
13 749
['Miss']
10 750
['Master']
9 751
['Mr']
13 752
['Mr']
13 753
['Mrs']
14 754
['Master']
9 755
['Mr']
13 756
['Mr']
13 757
['Mr']
13 758
['the', 'Countess']
2 759
['Mr']
13 760
['Mr']
13 761
['Mr']
13 762
['Mrs']
14 763
['Mr']
13 764
['Mrs']
14 765
['Dr']
5 766
['Miss']
10 767
['Mr']
13 768
['Mr']
13 769
['Mr']
13 770
['Mr']
13 771
['Mrs']
14 772
['Mr']
13 773
['Mrs']
14 774
['Mr']
13 775
['Mr']
13 776
['Miss']
10 777
['Mr']
13 778
['Mrs']
14 779
['Miss']
10 780
['Mrs']
14 781
['Mr']
13 782
['Mr']
13 783
['Mr']
13 784
['Mr']
13 785
['Miss']
10 786
['Master']
9 787
['Master']
9 788
['Mr']
13 789
['Mr']
13 790
['Mr']
13 791
['Miss']
10 792
['Mr']
13 793
['Mr']
13 794
['Mr']
13 795
['Dr']
5 796
['Mrs']
14 797
['Mr']
13 798
['Mrs']
14 799
['Mr']
13 800
['Mrs']
14 801
['Master']
9 802
['Master']
9 803
['Mr']
13 804
['Mr']
13 805
['Mr']
13 806
['Miss']
10 807
['Mr']
13 808
['Mrs']
14 809
['Mr']
13 810
['Mr']
13 811
['Mr']
13 812
['Miss']
10 813
['Mr']
13 814
['Mr']
13 815
['Miss']
10 816
['Mr']
13 817
['Mr']
13 818
['Master']
9 819
['Mrs']
14 820
['Mr']
13 821
['Jonkheer']
6 822
['Mrs']
14 823
['Master']
9 824
['Mr']
13 825
['Mr']
13 826
['Master']
9 827
['Mr']
13 828
['Mrs']
14 829
['Mrs']
14 830
['Master']
9 831
['Mr']
13 832
['Mr']
13 833
['Mr']
13 834
['Miss']
10 835
['Mr']
13 836
['Mr']
13 837
['Mr']
13 838
['Mr']
13 839
['Mr']
13 840
['Mr']
13 841
['Miss']
10 842
['Mr']
13 843
['Mr']
13 844
['Mr']
13 845
['Mr']
13 846
['Mr']
13 847
['Rev']
16 848
['Mrs']
14 849
['Master']
9 850
['Mr']
13 851
['Miss']
10 852
['Miss']
10 853
['Mrs']
14 854
['Mrs']
14 855
['Mrs']
14 856
['Mr']
13 857
['Mrs']
14 858
['Mr']
13 859
['Mr']
13 860
['Mr']
13 861
['Mrs']
14 862
['Miss']
10 863
['Mr']
13 864
['Mrs']
14 865
['Miss']
10 866
['Mr']
13 867
['Mr']
13 868
['Master']
9 869
['Mr']
13 870
['Mrs']
14 871
['Mr']
13 872
['Mr']
13 873
['Mrs']
14 874
['Miss']
10 875
['Mr']
13 876
['Mr']
13 877
['Mr']
13 878
['Mrs']
14 879
['Mrs']
14 880
['Mr']
13 881
['Miss']
10 882
['Mr']
13 883
['Mr']
13 884
['Mrs']
14 885
['Rev']
16 886
['Miss']
10 887
['Miss']
10 888
['Mr']
13 889
['Mr']
13 890

In [414]:
for i in range(0,418):
    tmp=dfTest.loc[dfTest.index[i], 'Name'].split(",")
    t=tmp[1].split(".")
    #print(t)
    t=t[0].split()
    print(t)
    dfTest.loc[dfTest.index[i], 'Name']=np.where(titles == t[0])[0][0].astype(int)
    print(np.where(titles == t[0])[0][0],i)

['Mr']
13 0
['Mrs']
14 1
['Mr']
13 2
['Mr']
13 3
['Mrs']
14 4
['Mr']
13 5
['Miss']
10 6
['Mr']
13 7
['Mrs']
14 8
['Mr']
13 9
['Mr']
13 10
['Mr']
13 11
['Mrs']
14 12
['Mr']
13 13
['Mrs']
14 14
['Mrs']
14 15
['Mr']
13 16
['Mr']
13 17
['Miss']
10 18
['Mrs']
14 19
['Mr']
13 20
['Master']
9 21
['Mrs']
14 22
['Mr']
13 23
['Mrs']
14 24
['Mr']
13 25
['Miss']
10 26
['Mr']
13 27
['Mr']
13 28
['Mr']
13 29
['Mr']
13 30
['Mr']
13 31
['Mrs']
14 32
['Mrs']
14 33
['Mr']
13 34
['Mr']
13 35
['Miss']
10 36
['Miss']
10 37
['Mr']
13 38
['Mr']
13 39
['Mr']
13 40
['Mr']
13 41
['Mr']
13 42
['Mrs']
14 43
['Mrs']
14 44
['Mr']
13 45
['Mr']
13 46
['Mr']
13 47
['Mrs']
14 48
['Mrs']
14 49
['Mr']
13 50
['Mr']
13 51
['Miss']
10 52
['Miss']
10 53
['Mr']
13 54
['Master']
9 55
['Mr']
13 56
['Mr']
13 57
['Mr']
13 58
['Miss']
10 59
['Mr']
13 60
['Mr']
13 61
['Mr']
13 62
['Miss']
10 63
['Master']
9 64
['Mrs']
14 65
['Miss']
10 66
['Mr']
13 67
['Mr']
13 68
['Mrs']
14 69
['Miss']
10 70
['Mr']
13 71
['Miss']
10 72
['Mr']
13 73
['Miss']
10 74
['Mr']
13 75
['Mr']
13 76
['Mrs']
14 77
['Mr']
13 78
['Miss']
10 79
['Master']
9 80
['Mr']
13 81
['Mr']
13 82
['Mr']
13 83
['Mr']
13 84
['Mr']
13 85
['Miss']
10 86
['Miss']
10 87
['Ms']
15 88
['Master']
9 89
['Mrs']
14 90
['Mr']
13 91
['Mrs']
14 92
['Mr']
13 93
['Mr']
13 94
['Mr']
13 95
['Mrs']
14 96
['Mr']
13 97
['Miss']
10 98
['Mr']
13 99
['Mrs']
14 100
['Mr']
13 101
['Mr']
13 102
['Mr']
13 103
['Mrs']
14 104
['Mr']
13 105
['Mr']
13 106
['Mr']
13 107
['Mr']
13 108
['Mr']
13 109
['Mr']
13 110
['Miss']
10 111
['Miss']
10 112
['Miss']
10 113
['Mrs']
14 114
['Mr']
13 115
['Mr']
13 116
['Miss']
10 117
['Mr']
13 118
['Mrs']
14 119
['Miss']
10 120
['Mr']
13 121
['Mrs']
14 122
['Mr']
13 123
['Mr']
13 124
['Miss']
10 125
['Mr']
13 126
['Miss']
10 127
['Mr']
13 128
['Mr']
13 129
['Mr']
13 130
['Col']
1 131
['Mrs']
14 132
['Mr']
13 133
['Mr']
13 134
['Mr']
13 135
['Mr']
13 136
['Mr']
13 137
['Miss']
10 138
['Mr']
13 139
['Miss']
10 140
['Miss']
10 141
['Mr']
13 142
['Mr']
13 143
['Mr']
13 144
['Mr']
13 145
['Mr']
13 146
['Mr']
13 147
['Mr']
13 148
['Rev']
16 149
['Mrs']
14 150
['Mr']
13 151
['Mr']
13 152
['Mrs']
14 153
['Master']
9 154
['Mr']
13 155
['Miss']
10 156
['Miss']
10 157
['Mr']
13 158
['Mrs']
14 159
['Miss']
10 160
['Master']
9 161
['Miss']
10 162
['Mr']
13 163
['Rev']
16 164
['Mrs']
14 165
['Mr']
13 166
['Mr']
13 167
['Mrs']
14 168
['Miss']
10 169
['Mr']
13 170
['Mr']
13 171
['Mr']
13 172
['Mr']
13 173
['Mr']
13 174
['Miss']
10 175
['Miss']
10 176
['Mr']
13 177
['Mrs']
14 178
['Mrs']
14 179
['Mr']
13 180
['Mr']
13 181
['Mrs']
14 182
['Mr']
13 183
['Mrs']
14 184
['Mr']
13 185
['Miss']
10 186
['Mr']
13 187
['Miss']
10 188
['Mr']
13 189
['Mr']
13 190
['Mr']
13 191
['Master']
9 192
['Mr']
13 193
['Master']
9 194
['Mr']
13 195
['Master']
9 196
['Miss']
10 197
['Mr']
13 198
['Mrs']
14 199
['Miss']
10 200
['Master']
9 201
['Col']
1 202
['Miss']
10 203
['Mr']
13 204
['Mr']
13 205
['Miss']
10 206
['Mr']
13 207
['Miss']
10 208
['Mr']
13 209
['Mr']
13 210
['Mr']
13 211
['Mr']
13 212
['Mrs']
14 213
['Miss']
10 214
['Mr']
13 215
['Miss']
10 216
['Mr']
13 217
['Mrs']
14 218
['Mr']
13 219
['Miss']
10 220
['Mr']
13 221
['Mrs']
14 222
['Mr']
13 223
['Mrs']
14 224
['Mrs']
14 225
['Mr']
13 226
['Miss']
10 227
['Mr']
13 228
['Mr']
13 229
['Mr']
13 230
['Miss']
10 231
['Mr']
13 232
['Mr']
13 233
['Mr']
13 234
['Mr']
13 235
['Mr']
13 236
['Mr']
13 237
['Miss']
10 238
['Mrs']
14 239
['Mrs']
14 240
['Mrs']
14 241
['Mr']
13 242
['Mr']
13 243
['Master']
9 244
['Mr']
13 245
['Mrs']
14 246
['Mr']
13 247
['Mrs']
14 248
['Mrs']
14 249
['Miss']
10 250
['Mr']
13 251
['Mr']
13 252
['Mr']
13 253
['Mr']
13 254
['Mr']
13 255
['Mr']
13 256
['Mr']
13 257
['Miss']
10 258
['Mr']
13 259
['Mr']
13 260
['Mr']
13 261
['Mrs']
14 262
['Miss']
10 263
['Mr']
13 264
['Mr']
13 265
['Mr']
13 266
['Mr']
13 267
['Miss']
10 268
['Mr']
13 269
['Mr']
13 270
['Mr']
13 271
['Mrs']
14 272
['Miss']
10 273
['Mr']
13 274
['Miss']
10 275
['Mr']
13 276
['Mr']
13 277
['Mr']
13 278
['Mr']
13 279
['Miss']
10 280
['Master']
9 281
['Miss']
10 282
['Miss']
10 283
['Miss']
10 284
['Mr']
13 285
['Mr']
13 286
['Mr']
13 287
['Mr']
13 288
['Mr']
13 289
['Mr']
13 290
['Miss']
10 291
['Mr']
13 292
['Dr']
5 293
['Mr']
13 294
['Mr']
13 295
['Miss']
10 296
['Mr']
13 297
['Mr']
13 298
['Mr']
13 299
['Mr']
13 300
['Mr']
13 301
['Mr']
13 302
['Mr']
13 303
['Miss']
10 304
['Mrs']
14 305
['Mr']
13 306
['Master']
9 307
['Mr']
13 308
['Mrs']
14 309
['Mr']
13 310
['Mr']
13 311
['Mr']
13 312
['Miss']
10 313
['Mrs']
14 314
['Miss']
10 315
['Mr']
13 316
['Mr']
13 317
['Mr']
13 318
['Mr']
13 319
['Mr']
13 320
['Mr']
13 321
['Mr']
13 322
['Mr']
13 323
['Miss']
10 324
['Mr']
13 325
['Miss']
10 326
['Mr']
13 327
['Mr']
13 328
['Mr']
13 329
['Mrs']
14 330
['Mr']
13 331
['Mr']
13 332
['Mrs']
14 333
['Mr']
13 334
['Mr']
13 335
['Mr']
13 336
['Mr']
13 337
['Mr']
13 338
['Master']
9 339
['Mr']
13 340
['Mr']
13 341
['Mr']
13 342
['Mrs']
14 343
['Master']
9 344
['Miss']
10 345
['Mr']
13 346
['Mrs']
14 347
['Mr']
13 348
['Miss']
10 349
['Mrs']
14 350
['Mr']
13 351
['Mr']
13 352
['Mr']
13 353
['Miss']
10 354
['Mr']
13 355
['Mrs']
14 356
['Mr']
13 357
['Mr']
13 358
['Mrs']
14 359
['Master']
9 360
['Mrs']
14 361
['Mrs']
14 362
['Mr']
13 363
['Mrs']
14 364
['Mrs']
14 365
['Mr']
13 366
['Miss']
10 367
['Mrs']
14 368
['Mr']
13 369
['Mr']
13 370
['Miss']
10 371
['Mr']
13 372
['Mr']
13 373
['Mrs']
14 374
['Miss']
10 375
['Miss']
10 376
['Mr']
13 377
['Mr']
13 378
['Master']
9 379
['Mr']
13 380
['Mr']
13 381
['Mrs']
14 382
['Mrs']
14 383
['Mr']
13 384
['Miss']
10 385
['Mr']
13 386
['Mr']
13 387
['Mr']
13 388
['Master']
9 389
['Mr']
13 390
['Mrs']
14 391
['Master']
9 392
['Mr']
13 393
['Mr']
13 394
['Mrs']
14 395
['Mr']
13 396
['Mrs']
14 397
['Mr']
13 398
['Mr']
13 399
['Miss']
10 400
['Mr']
13 401
['Miss']
10 402
['Mr']
13 403
['Mr']
13 404
['Mr']
13 405
['Mr']
13 406
['Mr']
13 407
['Miss']
10 408
['Miss']
10 409
['Miss']
10 410
['Mrs']
14 411
['Miss']
10 412
['Mr']
13 413
['Dona']
4 414
['Mr']
13 415
['Mr']
13 416
['Master']
9 417

In [367]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_is_missing
0,0,3,13,0,22.00,1,0,523,7.2500,7,2,True
1,1,1,14,1,38.00,1,0,596,71.2833,2,0,False
2,1,3,10,1,26.00,0,0,669,7.9250,7,2,True
3,1,1,14,1,35.00,1,0,49,53.1000,2,2,False
4,0,3,13,0,35.00,0,0,472,8.0500,7,2,True
5,0,3,13,0,NaN,0,0,275,8.4583,7,1,True
6,0,1,13,0,54.00,0,0,85,51.8625,4,2,False
7,0,3,9,0,2.00,3,1,395,21.0750,7,2,True
8,1,3,14,1,27.00,0,2,344,11.1333,7,2,True
9,1,2,14,1,14.00,1,0,132,30.0708,7,0,True
10,1,3,10,1,4.00,1,1,616,16.7000,6,2,False
11,1,1,10,1,58.00,0,0,38,26.5500,2,2,False
12,0,3,13,0,20.00,0,0,535,8.0500,7,2,True
13,0,3,13,0,39.00,1,5,333,31.2750,7,2,True
14,0,3,10,1,14.00,0,0,413,7.8542,7,2,True
15,1,2,14,1,55.00,0,0,153,16.0000,7,2,True
16,0,3,9,0,2.00,4,1,480,29.1250,7,1,True
17,1,2,13,0,NaN,0,0,151,13.0000,7,2,True
18,0,3,14,1,31.00,1,0,301,18.0000,7,2,True
19,1,3,14,1,NaN,0,0,184,7.2250,7,0,True
20,0,2,13,0,35.00,0,0,139,26.0000,7,2,True
21,1,2,13,0,34.00,0,0,152,13.0000,3,2,False
22,1,3,10,1,15.00,0,0,278,8.0292,7,1,True
23,1,1,13,0,28.00,0,0,42,35.5000,0,2,False
24,0,3,10,1,8.00,3,1,395,21.0750,7,2,True
25,1,3,14,1,38.00,1,5,329,31.3875,7,2,True
26,0,3,13,0,NaN,0,0,179,7.2250,7,0,True
27,0,1,13,0,19.00,3,2,95,263.0000,2,2,False
28,1,3,10,1,NaN,0,0,283,7.8792,7,1,True
29,0,3,13,0,NaN,0,0,362,7.8958,7,2,True
30,0,1,3,0,40.00,0,0,598,27.7208,7,0,True
31,1,1,14,1,NaN,1,0,586,146.5208,1,0,False
32,1,3,10,1,NaN,0,0,288,7.7500,7,1,True
33,0,2,13,0,66.00,0,0,549,10.5000,7,2,True
34,0,1,13,0,28.00,1,0,600,82.1708,7,0,True
35,0,1,13,0,42.00,1,0,43,52.0000,7,2,True
36,1,3,13,0,NaN,0,0,202,7.2292,7,0,True
37,0,3,13,0,21.00,0,0,514,8.0500,7,2,True
38,0,3,10,1,18.00,2,0,302,18.0000,7,2,True
39,1,3,10,1,14.00,1,0,186,11.2417,7,0,True
40,0,3,14,1,40.00,1,0,507,9.4750,7,2,True
41,0,2,14,1,27.00,1,0,53,21.0000,7,2,True
42,0,3,13,0,NaN,0,0,391,7.8958,7,0,True
43,1,2,10,1,3.00,1,2,634,41.5792,7,0,True
44,1,3,10,1,19.00,0,0,282,7.8792,7,1,True
45,0,3,13,0,NaN,0,0,617,8.0500,7,2,True
46,0,3,13,0,NaN,1,0,462,15.5000,7,1,True
47,1,3,10,1,NaN,0,0,76,7.7500,7,1,True
48,0,3,13,0,NaN,2,0,190,21.6792,7,0,True
49,0,3,14,1,18.00,1,0,377,17.8000,7,2,True
50,0,3,9,0,7.00,4,1,249,39.6875,7,2,True
51,0,3,13,0,21.00,0,0,522,7.8000,7,2,True
52,1,1,14,1,49.00,1,0,587,76.7292,3,0,False
53,1,2,14,1,29.00,1,0,239,26.0000,7,2,True
54,0,1,13,0,65.00,0,1,29,61.9792,1,0,False
55,1,1,13,0,NaN,0,0,94,35.5000,2,2,False
56,1,2,10,1,21.00,0,0,555,10.5000,7,2,True
57,0,3,13,0,28.50,0,0,215,7.2292,7,0,True
58,1,2,10,1,5.00,1,2,561,27.7500,7,2,True
59,0,3,9,0,11.00,5,2,566,46.9000,7,2,True
60,0,3,13,0,22.00,0,0,197,7.2292,7,0,True
61,1,1,10,1,38.00,0,0,32,80.0000,1,2,False
62,0,1,13,0,45.00,1,0,457,83.4750,2,2,False
63,0,3,9,0,4.00,3,2,337,27.9000,7,2,True
64,0,1,13,0,NaN,0,0,601,27.7208,7,0,True
65,1,3,9,0,NaN,1,1,189,15.2458,7,0,True
66,1,2,14,1,29.00,0,0,553,10.5000,5,2,False
67,0,3,13,0,19.00,0,0,623,8.1583,7,2,True
68,1,3,10,1,17.00,4,2,248,7.9250,7,2,True
69,0,3,13,0,26.00,2,0,270,8.6625,7,2,True
70,0,2,13,0,32.00,0,0,557,10.5000,7,2,True
71,0,3,10,1,16.00,5,2,566,46.9000,7,2,True
72,0,2,13,0,21.00,0,0,621,73.5000,7,2,True
73,0,3,13,0,26.00,1,0,204,14.4542,7,0,True
74,1,3,13,0,32.00,0,0,80,56.4958,7,2,True
75,0,3,13,0,25.00,0,0,347,7.6500,5,2,False
76,0,3,13,0,NaN,0,0,355,7.8958,7,2,True
77,0,3,13,0,NaN,0,0,473,8.0500,7,2,True
78,1,2,9,0,0.83,0,2,158,29.0000,7,2,True
79,1,3,10,1,30.00,0,0,432,12.4750,7,2,True
80,0,3,13,0,22.00,0,0,304,9.0000,7,2,True
81,1,3,13,0,29.00,0,0,311,9.5000,7,2,True
82,1,3,10,1,NaN,0,0,280,7.7875,7,1,True
83,0,1,13,0,28.00,0,0,25,47.1000,7,2,True
84,1,2,10,1,17.00,0,0,637,10.5000,7,2,True
85,1,3,14,1,33.00,3,0,247,15.8500,7,2,True
86,0,3,13,0,16.00,1,3,676,34.3750,7,2,True
87,0,3,13,0,NaN,0,0,652,8.0500,7,2,True
88,1,1,10,1,23.00,3,2,95,263.0000,2,2,False
89,0,3,13,0,24.00,0,0,297,8.0500,7,2,True
90,0,3,13,0,29.00,0,0,298,8.0500,7,2,True
91,0,3,13,0,20.00,0,0,341,7.8542,7,2,True
92,0,1,13,0,46.00,1,0,678,61.1750,4,2,False
93,0,3,13,0,26.00,1,2,548,20.5750,7,2,True
94,0,3,13,0,59.00,0,0,428,7.2500,7,2,True
95,0,3,13,0,NaN,0,0,475,8.0500,7,2,True
96,0,1,13,0,71.00,0,0,607,34.6542,0,0,False
97,1,1,13,0,23.00,0,1,612,63.3583,3,0,False
98,1,2,14,1,34.00,0,1,117,23.0000,7,2,True
99,0,2,13,0,34.00,1,0,150,26.0000,7,2,True
100,0,3,10,1,28.00,0,0,384,7.8958,7,2,True
101,0,3,13,0,NaN,0,0,361,7.8958,7,2,True
102,0,1,13,0,21.00,0,1,417,77.2875,3,2,False
103,0,3,13,0,33.00,0,0,505,8.6542,7,2,True
104,0,3,13,0,37.00,2,0,245,7.9250,7,2,True
105,0,3,13,0,28.00,0,0,354,7.8958,7,2,True
106,1,3,10,1,21.00,0,0,296,7.6500,7,2,True
107,1,3,13,0,NaN,0,0,254,7.7750,7,2,True
108,0,3,13,0,38.00,0,0,388,7.8958,7,2,True
109,1,3,10,1,NaN,1,0,469,24.1500,7,1,True
110,0,1,13,0,47.00,0,0,2,52.0000,2,2,False
111,0,3,10,1,14.50,1,0,193,14.4542,7,0,True
112,0,3,13,0,22.00,0,0,274,8.0500,7,2,True
113,0,3,10,1,20.00,1,0,491,9.8250,7,2,True
114,0,3,10,1,17.00,0,0,176,14.4583,7,0,True
115,0,3,13,0,21.00,0,0,666,7.9250,7,2,True
116,0,3,13,0,70.50,0,0,460,7.7500,7,1,True
117,0,2,13,0,29.00,1,0,53,21.0000,7,2,True
118,0,1,13,0,24.00,0,1,585,247.5208,1,0,False
119,0,3,10,1,2.00,4,2,333,31.2750,7,2,True
120,0,2,13,0,21.00,2,0,621,73.5000,7,2,True
121,0,3,13,0,NaN,0,0,540,8.0500,7,2,True
122,0,2,13,0,32.50,1,0,132,30.0708,7,0,True
123,1,2,10,1,32.50,0,0,219,13.0000,4,2,False
124,0,1,13,0,54.00,0,1,417,77.2875,3,2,False
125,1,3,9,0,12.00,1,0,186,11.2417,7,0,True
126,0,3,13,0,NaN,0,0,463,7.7500,7,1,True
127,1,3,13,0,24.00,0,0,541,7.1417,7,2,True
128,1,3,10,1,NaN,1,1,196,22.3583,5,0,False
129,0,3,13,0,45.00,0,0,318,6.9750,7,2,True
130,0,3,13,0,33.00,0,0,380,7.8958,7,0,True
131,0,3,13,0,20.00,0,0,640,7.0500,7,2,True
132,0,3,14,1,47.00,1,0,537,14.5000,7,2,True
133,1,2,14,1,29.00,1,0,111,26.0000,7,2,True
134,0,2,13,0,25.00,0,0,552,13.0000,7,2,True
135,0,2,13,0,23.00,0,0,630,15.0458,7,0,True
136,1,1,10,1,19.00,0,2,55,26.2833,3,2,False
137,0,1,13,0,37.00,1,0,49,53.1000,2,2,False
138,0,3,13,0,16.00,0,0,504,9.2167,7,2,True
139,0,1,13,0,24.00,0,0,592,79.2000,1,0,False
140,0,3,14,1,NaN,0,2,203,15.2458,7,0,True
141,1,3,10,1,22.00,0,0,332,7.7500,7,2,True
142,1,3,14,1,24.00,1,0,668,15.8500,7,2,True
143,0,3,13,0,19.00,0,0,438,6.7500,7,1,True
144,0,2,13,0,18.00,0,0,118,11.5000,7,2,True
145,0,2,13,0,19.00,1,1,558,36.7500,7,2,True
146,1,3,13,0,27.00,0,0,405,7.7958,7,2,True
147,0,3,10,1,9.00,2,2,676,34.3750,7,2,True
148,0,2,13,0,36.50,0,2,113,26.0000,5,2,False
149,0,2,16,0,42.00,0,0,147,13.0000,7,2,True
150,0,2,16,0,51.00,0,0,622,12.5250,7,2,True
151,1,1,14,1,22.00,1,0,36,66.6000,2,2,False
152,0,3,13,0,55.50,0,0,516,8.0500,7,2,True
153,0,3,13,0,40.50,0,2,538,14.5000,7,2,True
154,0,3,13,0,NaN,0,0,573,7.3125,7,2,True
155,0,1,13,0,51.00,0,1,595,61.3792,7,0,True
156,1,3,10,1,16.00,0,0,418,7.7333,7,1,True
157,0,3,13,0,30.00,0,0,654,8.0500,7,2,True
158,0,3,13,0,NaN,0,0,258,8.6625,7,2,True
159,0,3,9,0,NaN,8,2,568,69.5500,7,2,True
160,0,3,13,0,44.00,0,1,470,16.1000,7,2,True
161,1,2,14,1,40.00,0,0,559,15.7500,7,2,True
162,0,3,13,0,26.00,0,0,323,7.7750,7,2,True
163,0,3,13,0,17.00,0,0,265,8.6625,7,2,True
164,0,3,9,0,1.00,4,1,249,39.6875,7,2,True
165,1,3,9,0,9.00,0,2,423,20.5250,7,2,True
166,1,1,14,1,NaN,0,1,28,55.0000,4,2,False
167,0,3,14,1,45.00,1,4,337,27.9000,7,2,True
168,0,1,13,0,NaN,0,0,576,25.9250,7,2,True
169,0,3,13,0,28.00,0,0,80,56.4958,7,2,True
170,0,1,13,0,61.00,0,0,5,33.5000,1,2,False
171,0,3,9,0,4.00,4,1,480,29.1250,7,1,True
172,1,3,10,1,1.00,1,1,344,11.1333,7,2,True
173,0,3,13,0,21.00,0,0,659,7.9250,7,2,True
174,0,1,13,0,56.00,0,0,90,30.6958,0,0,False
175,0,3,13,0,18.00,1,1,412,7.8542,7,2,True
176,0,3,9,0,NaN,3,1,488,25.4667,7,2,True
177,0,1,10,1,50.00,0,0,593,28.7125,2,0,False
178,0,2,13,0,30.00,0,0,169,13.0000,7,2,True
179,0,3,13,0,36.00,0,0,574,0.0000,7,2,True
180,0,3,10,1,NaN,8,2,568,69.5500,7,2,True
181,0,2,13,0,NaN,0,0,629,15.0500,7,0,True
182,0,3,9,0,9.00,4,2,329,31.3875,7,2,True
183,1,2,9,0,1.00,2,1,114,39.0000,5,2,False
184,1,3,10,1,4.00,0,2,271,22.0250,7,2,True
185,0,1,13,0,NaN,0,0,34,50.0000,0,2,False
186,1,3,14,1,NaN,1,0,459,15.5000,7,1,True
187,1,1,13,0,45.00,0,0,11,26.5500,7,2,True
188,0,3,13,0,40.00,1,1,435,15.5000,7,1,True
189,0,3,13,0,36.00,0,0,386,7.8958,7,2,True
190,1,2,14,1,32.00,0,0,122,13.0000,7,2,True
191,0,2,13,0,19.00,0,0,227,13.0000,7,2,True
192,1,3,10,1,19.00,1,0,406,7.8542,7,2,True
193,1,2,9,0,3.00,1,1,113,26.0000,5,2,False
194,1,1,14,1,44.00,0,0,604,27.7208,1,0,False
195,1,1,10,1,58.00,0,0,586,146.5208,1,0,False
196,0,3,13,0,NaN,0,0,452,7.7500,7,1,True
197,0,3,13,0,42.00,0,1,494,8.4042,7,2,True
198,1,3,10,1,NaN,0,0,461,7.7500,7,1,True
199,0,2,10,1,24.00,0,0,160,13.0000,7,2,True
200,0,3,13,0,28.00,0,0,306,9.5000,7,2,True
201,0,3,13,0,NaN,8,2,568,69.5500,7,2,True
202,0,3,13,0,34.00,0,0,242,6.4958,7,2,True
203,0,3,13,0,45.50,0,0,177,7.2250,7,0,True
204,1,3,13,0,18.00,0,0,530,8.0500,7,2,True
205,0,3,10,1,2.00,0,1,316,10.4625,6,2,False
206,0,3,13,0,32.00,1,0,247,15.8500,7,2,True
207,1,3,13,0,26.00,0,0,216,18.7875,7,0,True
208,1,3,10,1,16.00,0,0,445,7.7500,7,1,True
209,1,1,13,0,40.00,0,0,17,31.0000,0,0,False
210,0,3,13,0,24.00,0,0,642,7.0500,7,2,True
211,1,2,10,1,35.00,0,0,570,21.0000,7,2,True
212,0,3,13,0,22.00,0,0,526,7.2500,7,2,True
213,0,2,13,0,30.00,0,0,163,13.0000,7,2,True
214,0,3,13,0,NaN,1,0,443,7.7500,7,1,True
215,1,1,10,1,31.00,1,0,416,113.2750,3,0,False
216,1,3,10,1,27.00,0,0,670,7.9250,7,2,True
217,0,2,13,0,42.00,1,0,142,27.0000,7,2,True
218,1,1,10,1,32.00,0,0,63,76.2917,3,0,False
219,0,2,13,0,30.00,0,0,679,10.5000,7,2,True
220,1,3,13,0,16.00,0,0,653,8.0500,7,2,True
221,0,2,13,0,27.00,0,0,105,13.0000,7,2,True
222,0,3,13,0,51.00,0,0,102,8.0500,7,2,True
223,0,3,13,0,NaN,0,0,375,7.8958,7,2,True
224,1,1,13,0,38.00,1,0,93,90.0000,2,2,False
225,0,3,13,0,22.00,0,0,615,9.3500,7,2,True
226,1,2,13,0,19.00,0,0,672,10.5000,7,2,True
227,0,3,13,0,20.50,0,0,525,7.2500,7,2,True
228,0,2,13,0,18.00,0,0,125,13.0000,7,2,True
229,0,3,10,1,NaN,3,1,488,25.4667,7,2,True
230,1,1,14,1,35.00,1,0,457,83.4750,2,2,False
231,0,3,13,0,29.00,0,0,322,7.7750,7,2,True
232,0,2,13,0,59.00,0,0,128,13.5000,7,2,True
233,1,3,10,1,5.00,4,2,329,31.3875,7,2,True
234,0,2,13,0,24.00,0,0,554,10.5000,7,2,True
235,0,3,10,1,NaN,0,0,677,7.5500,7,2,True
236,0,2,13,0,44.00,1,0,198,26.0000,7,2,True
237,1,2,10,1,8.00,0,2,556,26.2500,7,2,True
238,0,2,13,0,19.00,0,0,231,10.5000,7,2,True
239,0,2,13,0,33.00,0,0,636,12.2750,7,2,True
240,0,3,10,1,NaN,1,0,193,14.4542,7,0,True
241,1,3,10,1,NaN,1,0,444,15.5000,7,1,True
242,0,2,13,0,29.00,0,0,674,10.5000,7,2,True
243,0,3,13,0,22.00,0,0,658,7.1250,7,2,True
244,0,3,13,0,30.00,0,0,213,7.2250,7,0,True
245,0,1,5,0,44.00,2,0,92,90.0000,2,1,False
246,0,3,10,1,25.00,0,0,325,7.7750,7,2,True
247,1,2,14,1,24.00,0,2,166,14.5000,7,2,True
248,1,1,13,0,37.00,1,1,54,52.5542,3,2,False
249,0,2,16,0,54.00,1,0,144,26.0000,7,2,True
250,0,3,13,0,NaN,0,0,422,7.2500,7,2,True
251,0,3,14,1,29.00,1,1,316,10.4625,6,2,False
252,0,1,13,0,62.00,0,0,31,26.5500,2,2,False
253,0,3,13,0,30.00,1,0,536,16.1000,7,2,True
254,0,3,14,1,41.00,0,2,458,20.2125,7,2,True
255,1,3,14,1,29.00,0,2,185,15.2458,7,0,True
256,1,1,14,1,NaN,0,0,589,79.2000,7,0,True
257,1,1,10,1,30.00,0,0,0,86.5000,1,2,False
258,1,1,10,1,35.00,0,0,608,512.3292,7,0,True
259,1,2,14,1,50.00,0,1,115,26.0000,7,2,True
260,0,3,13,0,NaN,0,0,482,7.7500,7,1,True
261,1,3,9,0,3.00,4,2,329,31.3875,7,2,True
262,0,1,13,0,52.00,1,1,1,79.6500,4,2,False
263,0,1,13,0,40.00,0,0,16,0.0000,1,2,False
264,0,3,10,1,NaN,0,0,478,7.7500,7,1,True
265,0,2,13,0,36.00,0,0,546,10.5000,7,2,True
266,0,3,13,0,16.00,4,1,249,39.6875,7,2,True
267,1,3,13,0,25.00,1,0,334,7.7750,7,2,True
268,1,1,14,1,58.00,0,1,588,153.4625,2,2,False
269,1,1,10,1,35.00,0,0,613,135.6333,2,2,False
270,0,1,13,0,NaN,0,0,47,31.0000,7,2,True
271,1,3,13,0,25.00,0,0,574,0.0000,7,2,True
272,1,2,14,1,41.00,0,1,162,19.5000,7,2,True
273,0,1,13,0,37.00,0,1,594,29.7000,2,0,False
274,1,3,10,1,NaN,0,0,465,7.7500,7,1,True
275,1,1,10,1,63.00,1,0,71,77.9583,3,2,False
276,0,3,10,1,45.00,0,0,326,7.7500,7,2,True
277,0,2,13,0,NaN,0,0,135,0.0000,7,2,True
278,0,3,9,0,7.00,4,1,480,29.1250,7,1,True
279,1,3,14,1,35.00,1,1,551,20.2500,7,2,True
280,0,3,13,0,65.00,0,0,290,7.7500,7,1,True
281,0,3,13,0,28.00,0,0,340,7.8542,7,2,True
282,0,3,13,0,16.00,0,0,310,9.5000,7,2,True
283,1,3,13,0,19.00,0,0,533,8.0500,7,2,True
284,0,1,13,0,NaN,0,0,24,26.0000,0,2,False
285,0,3,13,0,33.00,0,0,378,8.6625,7,0,True
286,1,3,13,0,30.00,0,0,308,9.5000,7,2,True
287,0,3,13,0,22.00,0,0,353,7.8958,7,2,True
288,1,2,13,0,42.00,0,0,134,13.0000,7,2,True
289,1,3,10,1,22.00,0,0,464,7.7500,7,1,True
290,1,1,10,1,26.00,0,0,91,78.8500,7,2,True
291,1,1,14,1,19.00,1,0,64,91.0792,1,0,False
292,0,2,13,0,36.00,0,0,635,12.8750,3,0,False
293,0,3,10,1,24.00,0,0,376,8.8500,7,2,True
294,0,3,13,0,24.00,0,0,374,7.8958,7,2,True
295,0,1,13,0,NaN,0,0,606,27.7208,7,0,True
296,0,3,13,0,23.50,0,0,212,7.2292,7,0,True
297,0,1,10,1,2.00,1,2,37,151.5500,2,2,False
298,1,1,13,0,NaN,0,0,98,30.5000,2,2,False
299,1,1,14,1,50.00,0,1,585,247.5208,1,0,False
300,1,3,10,1,NaN,0,0,513,7.7500,7,1,True
301,1,3,13,0,NaN,2,0,441,23.2500,7,1,True
302,0,3,13,0,19.00,0,0,574,0.0000,7,2,True
303,1,2,10,1,NaN,0,0,109,12.3500,4,1,False
304,0,3,13,0,NaN,0,0,527,8.0500,7,2,True
305,1,1,9,0,0.92,1,2,37,151.5500,2,2,False
306,1,1,10,1,NaN,0,0,83,110.8833,7,0,True
307,1,1,14,1,17.00,1,0,611,108.9000,2,0,False
308,0,2,13,0,30.00,1,0,575,24.0000,7,0,True
309,1,1,10,1,30.00,0,0,584,56.9292,4,0,False
310,1,1,10,1,24.00,0,0,59,83.1583,2,0,False
311,1,1,10,1,18.00,2,2,602,262.3750,1,0,False
312,0,2,14,1,26.00,1,1,167,26.0000,7,2,True
313,0,3,13,0,28.00,0,0,382,7.8958,7,2,True
314,0,2,13,0,43.00,1,1,571,26.2500,7,2,True
315,1,3,10,1,26.00,0,0,343,7.8542,7,2,True
316,1,2,14,1,24.00,1,0,150,26.0000,7,2,True
317,0,2,5,0,54.00,0,0,232,14.0000,7,2,True
318,1,1,10,1,31.00,0,2,453,164.8667,2,2,False
319,1,1,14,1,40.00,1,1,81,134.5000,4,0,False
320,0,3,13,0,22.00,0,0,524,7.2500,7,2,True
321,0,3,13,0,27.00,0,0,365,7.8958,7,2,True
322,1,2,10,1,30.00,0,0,124,12.3500,7,1,True
323,1,2,14,1,22.00,1,1,158,29.0000,7,2,True
324,0,3,13,0,NaN,8,2,568,69.5500,7,2,True
325,1,1,10,1,36.00,0,0,613,135.6333,2,0,False
326,0,3,13,0,61.00,0,0,299,6.2375,7,2,True
327,1,2,14,1,36.00,0,0,229,13.0000,3,2,False
328,1,3,14,1,31.00,1,1,423,20.5250,7,2,True
329,1,1,10,1,16.00,0,1,7,57.9792,1,0,False
330,1,3,10,1,NaN,2,0,441,23.2500,7,1,True
331,0,1,13,0,45.50,0,0,20,28.5000,2,2,False
332,0,1,13,0,38.00,0,1,588,153.4625,2,2,False
333,0,3,13,0,16.00,2,0,302,18.0000,7,2,True
334,1,1,14,1,NaN,1,0,605,133.6500,7,2,True
335,0,3,13,0,NaN,0,0,370,7.8958,7,2,True
336,0,1,13,0,29.00,1,0,36,66.6000,2,2,False
337,1,1,10,1,41.00,0,0,81,134.5000,4,0,False
338,1,3,13,0,45.00,0,0,510,8.0500,7,2,True
339,0,1,13,0,45.00,0,0,39,35.5000,8,2,False
340,1,2,9,0,2.00,1,1,113,26.0000,5,2,False
341,1,1,10,1,24.00,3,2,95,263.0000,2,2,False
342,0,2,13,0,28.00,0,0,159,13.0000,7,2,True
343,0,2,13,0,25.00,0,0,149,13.0000,7,2,True
344,0,2,13,0,36.00,0,0,112,13.0000,7,2,True
345,1,2,10,1,24.00,0,0,157,13.0000,5,2,False
346,1,2,10,1,40.00,0,0,257,13.0000,7,2,True
347,1,3,14,1,NaN,1,0,483,16.1000,7,2,True
348,1,3,9,0,3.00,1,1,562,15.9000,7,2,True
349,0,3,13,0,42.00,0,0,262,8.6625,7,2,True
350,0,3,13,0,23.00,0,0,503,9.2250,7,2,True
351,0,1,13,0,NaN,0,0,30,35.0000,2,2,False
352,0,3,13,0,15.00,1,1,214,7.2292,7,0,True
353,0,3,13,0,25.00,1,0,377,17.8000,7,2,True
354,0,3,13,0,NaN,0,0,182,7.2250,7,0,True
355,0,3,13,0,28.00,0,0,314,9.5000,7,2,True
356,1,1,10,1,22.00,0,1,28,55.0000,4,2,False
357,0,2,10,1,38.00,0,0,131,13.0000,7,2,True
358,1,3,10,1,NaN,0,0,279,7.8792,7,1,True
359,1,3,10,1,NaN,0,0,285,7.8792,7,1,True
360,0,3,13,0,40.00,1,4,337,27.9000,7,2,True
361,0,2,13,0,29.00,1,0,633,27.7208,7,0,True
362,0,3,14,1,45.00,0,1,211,14.4542,7,0,True
363,0,3,13,0,35.00,0,0,641,7.0500,7,2,True
364,0,3,13,0,NaN,1,0,459,15.5000,7,1,True
365,0,3,13,0,30.00,0,0,544,7.2500,7,2,True
366,1,1,14,1,60.00,1,0,4,75.2500,3,0,False
367,1,3,14,1,NaN,0,0,175,7.2292,7,0,True
368,1,3,10,1,NaN,0,0,78,7.7500,7,1,True
369,1,1,12,1,24.00,0,0,581,69.3000,1,0,False
370,1,1,13,0,25.00,1,0,58,55.4417,4,0,False
371,0,3,13,0,18.00,1,0,244,6.4958,7,2,True
372,0,3,13,0,19.00,0,0,273,8.0500,7,2,True
373,0,1,13,0,22.00,0,0,613,135.6333,7,0,True
374,0,3,10,1,3.00,3,1,395,21.0750,7,2,True
375,1,1,14,1,NaN,1,0,600,82.1708,7,0,True
376,1,3,10,1,22.00,0,0,545,7.2500,7,2,True
377,0,1,13,0,27.00,0,2,27,211.5000,2,0,False
378,0,3,13,0,20.00,0,0,183,4.0125,7,0,True
379,0,3,13,0,19.00,0,0,324,7.7750,7,2,True
380,1,1,10,1,42.00,0,0,610,227.5250,7,0,True
381,1,3,10,1,1.00,0,2,187,15.7417,7,0,True
382,0,3,13,0,32.00,0,0,665,7.9250,7,2,True
383,1,1,14,1,35.00,1,0,43,52.0000,7,2,True
384,0,3,13,0,NaN,0,0,371,7.8958,7,2,True
385,0,2,13,0,18.00,0,0,621,73.5000,7,2,True
386,0,3,9,0,1.00,5,2,566,46.9000,7,2,True
387,1,2,10,1,36.00,0,0,220,13.0000,7,2,True
388,0,3,13,0,NaN,0,0,447,7.7292,7,1,True
389,1,2,10,1,17.00,0,0,625,12.0000,7,0,True
390,1,1,13,0,36.00,1,2,33,120.0000,1,2,False
391,1,3,13,0,21.00,0,0,401,7.7958,7,2,True
392,0,3,13,0,28.00,2,0,246,7.9250,7,2,True
393,1,1,10,1,23.00,1,0,416,113.2750,3,0,False
394,1,3,14,1,24.00,0,2,616,16.7000,6,2,False
395,0,3,13,0,22.00,0,0,410,7.7958,7,2,True
396,0,3,10,1,31.00,0,0,414,7.8542,7,2,True
397,0,2,13,0,46.00,0,0,226,26.0000,7,2,True
398,0,2,5,0,23.00,0,0,146,10.5000,7,2,True
399,1,2,14,1,28.00,0,0,140,12.6500,7,2,True
400,1,3,13,0,39.00,0,0,663,7.9250,7,2,True
401,0,3,13,0,26.00,0,0,292,8.0500,7,2,True
402,0,3,10,1,21.00,1,0,492,9.8250,7,2,True
403,0,3,13,0,28.00,1,0,668,15.8500,7,2,True
404,0,3,10,1,20.00,0,0,267,8.6625,7,2,True
405,0,2,13,0,34.00,1,0,230,21.0000,7,2,True
406,0,3,13,0,51.00,0,0,321,7.7500,7,2,True
407,1,2,9,0,3.00,1,1,237,18.7500,7,2,True
408,0,3,13,0,21.00,0,0,255,7.7750,7,2,True
409,0,3,10,1,NaN,3,1,488,25.4667,7,2,True
410,0,3,13,0,NaN,0,0,367,7.8958,7,2,True
411,0,3,13,0,NaN,0,0,487,6.8583,7,1,True
412,1,1,10,1,33.00,1,0,92,90.0000,2,1,False
413,0,2,13,0,NaN,0,0,135,0.0000,7,2,True
414,1,3,13,0,44.00,0,0,655,7.9250,7,2,True
415,0,3,14,1,NaN,0,0,295,8.0500,7,2,True
416,1,2,14,1,34.00,1,1,224,32.5000,7,2,True
417,1,2,10,1,18.00,0,2,168,13.0000,7,2,True
418,0,2,13,0,30.00,0,0,225,13.0000,7,2,True
419,0,3,10,1,10.00,0,2,307,24.1500,7,2,True
420,0,3,13,0,NaN,0,0,392,7.8958,7,0,True
421,0,3,13,0,21.00,0,0,534,7.7333,7,1,True
422,0,3,13,0,29.00,0,0,259,7.8750,7,2,True
423,0,3,14,1,28.00,1,1,331,14.4000,7,2,True
424,0,3,13,0,18.00,1,1,458,20.2125,7,2,True
425,0,3,13,0,NaN,0,0,521,7.2500,7,2,True
426,1,2,14,1,28.00,1,0,100,26.0000,7,2,True
427,1,2,10,1,19.00,0,0,170,26.0000,7,2,True
428,0,3,13,0,NaN,0,0,437,7.7500,7,1,True
429,1,3,13,0,32.00,0,0,644,8.0500,4,2,False
430,1,1,13,0,28.00,0,0,3,26.5500,2,2,False
431,1,3,14,1,NaN,1,0,476,16.1000,7,2,True
432,1,2,14,1,42.00,1,0,627,26.0000,7,2,True
433,0,3,13,0,17.00,0,0,657,7.1250,7,2,True
434,0,1,13,0,50.00,1,0,72,55.9000,4,2,False
435,1,1,10,1,14.00,1,2,33,120.0000,1,2,False
436,0,3,10,1,21.00,2,2,676,34.3750,7,2,True
437,1,2,14,1,24.00,2,3,237,18.7500,7,2,True
438,0,1,13,0,64.00,1,4,95,263.0000,2,2,False
439,0,2,13,0,31.00,0,0,547,10.5000,7,2,True
440,1,2,14,1,45.00,1,1,571,26.2500,7,2,True
441,0,3,13,0,20.00,0,0,305,9.5000,7,2,True
442,0,3,13,0,25.00,1,0,328,7.7750,7,2,True
443,1,2,15,1,28.00,0,0,116,13.0000,7,2,True
444,1,3,13,0,NaN,0,0,499,8.1125,7,2,True
445,1,1,9,0,4.00,0,2,289,81.8583,0,2,False
446,1,2,10,1,13.00,0,1,162,19.5000,7,2,True
447,1,1,13,0,34.00,0,0,45,26.5500,7,2,True
448,1,3,10,1,5.00,2,1,194,19.2583,7,0,True
449,1,1,8,0,52.00,0,0,40,30.5000,2,2,False
450,0,2,13,0,36.00,1,2,561,27.7500,7,2,True
451,0,3,13,0,NaN,1,0,497,19.9667,7,2,True
452,0,1,13,0,30.00,0,0,22,27.7500,2,0,False
453,1,1,13,0,49.00,1,0,84,89.1042,2,0,False
454,0,3,13,0,NaN,0,0,528,8.0500,7,2,True
455,1,3,13,0,29.00,0,0,379,7.8958,7,0,True
456,0,1,13,0,65.00,0,0,73,26.5500,4,2,False
457,1,1,14,1,NaN,1,0,86,51.8625,3,2,False
458,1,2,10,1,50.00,0,0,572,10.5000,7,2,True
459,0,3,13,0,NaN,0,0,468,7.7500,7,1,True
460,1,1,13,0,48.00,0,0,96,26.5500,4,2,False
461,0,3,13,0,34.00,0,0,429,8.0500,7,2,True
462,0,1,13,0,47.00,0,0,6,38.5000,4,2,False

In [415]:
for label, content in df.items():
    if pd.api.types.is_object_dtype(content):
        df[label] = content.astype(int)
for label, content in dfTest.items():
    if pd.api.types.is_object_dtype(content):
        dfTest[label] = content.astype(int)
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Pclass            418 non-null    int64
 1   Name              418 non-null    int32
 2   Sex               418 non-null    int32
 3   Age               332 non-null    float64
 4   SibSp             418 non-null    int64
 5   Parch             418 non-null    int64
 6   Ticket            418 non-null    int32
 7   Fare              418 non-null    float64
 8   Cabin             418 non-null    int32
 9   Embarked          418 non-null    int32
 10  cabin_is_missing  418 non-null    bool
dtypes: bool(1), float64(2), int32(5), int64(3)
memory usage: 25.0 KB

In [416]:
df.isnull().sum()

Survived              0
Pclass                0
Name                  0
Sex                   0
Age                 177
SibSp                 0
Parch                 0
Ticket                0
Fare                  0
Cabin                 0
Embarked              0
cabin_is_missing      0
dtype: int64

In [417]:
one= pd.concat([df[df['Pclass'] == 1]['Age'],dfTest[dfTest['Pclass'] == 1]['Age']], ignore_index=True)
two= pd.concat([df[df['Pclass'] == 2]['Age'],dfTest[dfTest['Pclass'] == 2]['Age']], ignore_index=True)
there= pd.concat([df[df['Pclass'] == 2]['Age'],dfTest[dfTest['Pclass'] == 2]['Age']], ignore_index=True)
Pcl=[0,one.median(),two.median(),there.median()]
j=0;
for label,content in df.items():
    if (label== 'Age'):
        for i in range(0,891):
            if(np.isnan(df.iloc[i][label])):
                P=int(df.iloc[i]['Pclass'])
                #print(Pcl[P])
                df.loc[df.index[i],'Age']=Pcl[P]

for label,content in dfTest.items():
    if (label== 'Age'):
        for i in range(0,418):
            if(np.isnan(dfTest.iloc[i][label])):
                P=int(dfTest.iloc[i]['Pclass'])
                dfTest.loc[dfTest.index[i],'Age']=Pcl[P]

In [418]:
np.random.seed(42)

X = df.drop("Survived", axis =1)
y = df.Survived.values

X_train,X_valid, y_train, y_valid = train_test_split(X,y,test_size=0.2,random_state=42)

In [428]:
modelReg= LogisticRegression(solver="liblinear",random_state=42,C=1.623776)
modelReg.fit(X_train, y_train)
modelReg.score(X_valid,y_valid)

0.8044692737430168

In [430]:
modelRF= RandomForestClassifier(n_estimators=60, random_state=42,min_samples_split=2,min_samples_leaf=3)
modelRF.fit(X_train, y_train)
modelRF.score(X_valid, y_valid)

v_acc = cross_val_score(modelRF,
                         X,
                         y,
                         cv=kfold_splitter, # 5-fold cross-validation
                         scoring="accuracy")

print(v_acc,np.mean(v_acc))

[0.82122905 0.83146067 0.85955056 0.79213483 0.84831461] 0.8305379448873266

In [427]:
modelDT= DecisionTreeClassifier(random_state=42)
modelDT.fit(X_train, y_train)
modelDT.score(X_valid, y_valid)

v_accDT = cross_val_score(modelDT,
                         X,
                         y,
                         cv=kfold_splitter, # 5-fold cross-validation
                         scoring="accuracy")

print(v_accDT,np.mean(v_accDT))

[0.7877095  0.78651685 0.76966292 0.75280899 0.7752809 ] 0.7743958320256105

In [266]:
from sklearn.model_selection import KFold

kfold_splitter = KFold(n_splits=5, random_state = 42, shuffle=True)

In [270]:
log_reg_grid = {"C": np.logspace(-4, 4, 20),
                "solver": ["liblinear"]}

# Different RandomForestClassifier hyperparameters
rf_grid = {"n_estimators": np.arange(10, 500, 50),
           "max_depth": [None],
           "random_state": [42],
           "min_samples_split": np.arange(2, 13, 2),
           "min_samples_leaf": np.arange(1, 13, 2),
          }

"""rs_rf= RandomizedSearchCV(RandomForestClassifier(),
                          param_distributions=rf_grid,
                          cv=5,
                          n_iter=100,
                          verbose=True)"""

gr_rf= GridSearchCV(RandomForestClassifier(),
                    param_grid=rf_grid,
                    cv=kfold_splitter,
                    n_jobs= -1,
                    verbose=True)


reg= GridSearchCV(LogisticRegression(),
                    param_grid=log_reg_grid,
                    cv=kfold_splitter,
                    verbose=True)


gr_rf.fit(X_train, y_train)
gr_rf.score(X_valid, y_valid)

Fitting 5 folds for each of 360 candidates, totalling 1800 fits

0.8156424581005587

In [276]:
reg.fit(X_train, y_train)
reg.score(X_valid, y_valid)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

0.8156424581005587

In [277]:
reg.best_params_

{'C': 78.47599703514607, 'solver': 'liblinear'}

In [271]:
gr_rf.best_params_

{'max_depth': None,
 'min_samples_leaf': 3,
 'min_samples_split': 10,
 'n_estimators': 60,
 'random_state': 42}

In [325]:
finalModel=RandomForestClassifier(n_estimators=360, random_state=42,min_samples_split=5,min_samples_leaf=4, criterion="entropy")
finalModel.fit(X,y)
pred = finalModel.predict(dfTest)
pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [223]:
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [326]:
write= pd.read_csv("test.csv")
write

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.00,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
30,922,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
31,923,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
34,926,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
37,929,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
38,930,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
39,931,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
40,932,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
41,933,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S
42,934,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,11753,52.5542,D19,S
45,937,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C
47,939,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
50,942,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
51,943,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
52,944,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
53,945,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
54,946,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
55,947,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
56,948,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
57,949,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,348122,7.6500,F G63,S
58,950,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
59,951,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
60,952,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
61,953,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
62,954,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
63,955,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
64,956,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
65,957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
66,958,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
67,959,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S
68,960,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
69,961,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,19950,263.0000,C23 C25 C27,S
70,962,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
71,963,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
72,964,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
73,965,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
74,966,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
75,967,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
76,968,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
77,969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,11770,25.7000,C101,S
78,970,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
79,971,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
80,972,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
81,973,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
82,974,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
83,975,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
85,977,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
86,978,3,"Barry, Miss. Julia",female,27.00,0,0,330844,7.8792,NaN,Q
87,979,3,"Badman, Miss. Emily Louisa",female,18.00,0,0,A/4 31416,8.0500,NaN,S
88,980,3,"O'Donoghue, Ms. Bridget",female,NaN,0,0,364856,7.7500,NaN,Q
89,981,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,NaN,S
90,982,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...",female,22.00,1,0,347072,13.9000,NaN,S
91,983,3,"Pedersen, Mr. Olaf",male,NaN,0,0,345498,7.7750,NaN,S
92,984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S
93,985,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
94,986,1,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C
95,987,3,"Tenglin, Mr. Gunnar Isidor",male,25.00,0,0,350033,7.7958,NaN,S
96,988,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S
97,989,3,"Makinen, Mr. Kalle Edvard",male,29.00,0,0,STON/O 2. 3101268,7.9250,NaN,S
98,990,3,"Braf, Miss. Elin Ester Maria",female,20.00,0,0,347471,7.8542,NaN,S
99,991,3,"Nancarrow, Mr. William Henry",male,33.00,0,0,A./5. 3338,8.0500,NaN,S
100,992,1,"Stengel, Mrs. Charles Emil Henry (Annie May Mo...",female,43.00,1,0,11778,55.4417,C116,C
101,993,2,"Weisz, Mr. Leopold",male,27.00,1,0,228414,26.0000,NaN,S
102,994,3,"Foley, Mr. William",male,NaN,0,0,365235,7.7500,NaN,Q
103,995,3,"Johansson Palmquist, Mr. Oskar Leander",male,26.00,0,0,347070,7.7750,NaN,S
104,996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,NaN,C
105,997,3,"Holthen, Mr. Johan Martin",male,28.00,0,0,C 4001,22.5250,NaN,S
106,998,3,"Buckley, Mr. Daniel",male,21.00,0,0,330920,7.8208,NaN,Q
107,999,3,"Ryan, Mr. Edward",male,NaN,0,0,383162,7.7500,NaN,Q
108,1000,3,"Willer, Mr. Aaron (Abi Weller"")""",male,NaN,0,0,3410,8.7125,NaN,S
109,1001,2,"Swane, Mr. George",male,18.50,0,0,248734,13.0000,F,S
110,1002,2,"Stanton, Mr. Samuel Ward",male,41.00,0,0,237734,15.0458,NaN,C
111,1003,3,"Shine, Miss. Ellen Natalia",female,NaN,0,0,330968,7.7792,NaN,Q
112,1004,1,"Evans, Miss. Edith Corse",female,36.00,0,0,PC 17531,31.6792,A29,C
113,1005,3,"Buckley, Miss. Katherine",female,18.50,0,0,329944,7.2833,NaN,Q
114,1006,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.00,1,0,PC 17483,221.7792,C55 C57,S
115,1007,3,"Chronopoulos, Mr. Demetrios",male,18.00,1,0,2680,14.4542,NaN,C
116,1008,3,"Thomas, Mr. John",male,NaN,0,0,2681,6.4375,NaN,C
117,1009,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,G6,S
118,1010,1,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C
119,1011,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29.00,1,0,SC/AH 29037,26.0000,NaN,S
120,1012,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,NaN,S
121,1013,3,"Kiernan, Mr. John",male,NaN,1,0,367227,7.7500,NaN,Q
122,1014,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.00,1,0,13236,57.7500,C28,C
123,1015,3,"Carver, Mr. Alfred John",male,28.00,0,0,392095,7.2500,NaN,S
124,1016,3,"Kennedy, Mr. John",male,NaN,0,0,368783,7.7500,NaN,Q
125,1017,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,NaN,S
126,1018,3,"Brobeck, Mr. Karl Rudolf",male,22.00,0,0,350045,7.7958,NaN,S
127,1019,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
128,1020,2,"Bowenur, Mr. Solomon",male,42.00,0,0,211535,13.0000,NaN,S
129,1021,3,"Petersen, Mr. Marius",male,24.00,0,0,342441,8.0500,NaN,S
130,1022,3,"Spinner, Mr. Henry John",male,32.00,0,0,STON/OQ. 369943,8.0500,NaN,S
131,1023,1,"Gracie, Col. Archibald IV",male,53.00,0,0,113780,28.5000,C51,C
132,1024,3,"Lefebre, Mrs. Frank (Frances)",female,NaN,0,4,4133,25.4667,NaN,S
133,1025,3,"Thomas, Mr. Charles P",male,NaN,1,0,2621,6.4375,NaN,C
134,1026,3,"Dintcheff, Mr. Valtcho",male,43.00,0,0,349226,7.8958,NaN,S
135,1027,3,"Carlsson, Mr. Carl Robert",male,24.00,0,0,350409,7.8542,NaN,S
136,1028,3,"Zakarian, Mr. Mapriededer",male,26.50,0,0,2656,7.2250,NaN,C
137,1029,2,"Schmidt, Mr. August",male,26.00,0,0,248659,13.0000,NaN,S
138,1030,3,"Drapkin, Miss. Jennie",female,23.00,0,0,SOTON/OQ 392083,8.0500,NaN,S
139,1031,3,"Goodwin, Mr. Charles Frederick",male,40.00,1,6,CA 2144,46.9000,NaN,S
140,1032,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,NaN,S
141,1033,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S
142,1034,1,"Ryerson, Mr. Arthur Larned",male,61.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
143,1035,2,"Beauchamp, Mr. Henry James",male,28.00,0,0,244358,26.0000,NaN,S
144,1036,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lin...",male,42.00,0,0,17475,26.5500,NaN,S
145,1037,3,"Vander Planke, Mr. Julius",male,31.00,3,0,345763,18.0000,NaN,S
146,1038,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S
147,1039,3,"Davies, Mr. Evan",male,22.00,0,0,SC/A4 23568,8.0500,NaN,S
148,1040,1,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S
149,1041,2,"Lahtinen, Rev. William",male,30.00,1,1,250651,26.0000,NaN,S
150,1042,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23.00,0,1,11767,83.1583,C54,C
151,1043,3,"Matinoff, Mr. Nicola",male,NaN,0,0,349255,7.8958,NaN,C
152,1044,3,"Storey, Mr. Thomas",male,60.50,0,0,3701,NaN,NaN,S
153,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
154,1046,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,NaN,S
155,1047,3,"Duquemin, Mr. Joseph",male,24.00,0,0,S.O./P.P. 752,7.5500,NaN,S
156,1048,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S
157,1049,3,"Lundin, Miss. Olga Elida",female,23.00,0,0,347469,7.8542,NaN,S
158,1050,1,"Borebank, Mr. John James",male,42.00,0,0,110489,26.5500,D22,S
159,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.00,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
160,1052,3,"Smyth, Miss. Julia",female,NaN,0,0,335432,7.7333,NaN,Q
161,1053,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
162,1054,2,"Wright, Miss. Marion",female,26.00,0,0,220844,13.5000,NaN,S
163,1055,3,"Pearce, Mr. Ernest",male,NaN,0,0,343271,7.0000,NaN,S
164,1056,2,"Peruschitz, Rev. Joseph Maria",male,41.00,0,0,237393,13.0000,NaN,S
165,1057,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.00,1,1,315153,22.0250,NaN,S
166,1058,1,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C
167,1059,3,"Ford, Mr. Edward Watson",male,18.00,2,2,W./C. 6608,34.3750,NaN,S
168,1060,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C
169,1061,3,"Hellstrom, Miss. Hilda Maria",female,22.00,0,0,7548,8.9625,NaN,S
170,1062,3,"Lithman, Mr. Simon",male,NaN,0,0,S.O./P.P. 251,7.5500,NaN,S
171,1063,3,"Zakarian, Mr. Ortin",male,27.00,0,0,2670,7.2250,NaN,C
172,1064,3,"Dyker, Mr. Adolf Fredrik",male,23.00,1,0,347072,13.9000,NaN,S
173,1065,3,"Torfa, Mr. Assad",male,NaN,0,0,2673,7.2292,NaN,C
174,1066,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40.00,1,5,347077,31.3875,NaN,S
175,1067,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,NaN,S
176,1068,2,"Sincock, Miss. Maude",female,20.00,0,0,C.A. 33112,36.7500,NaN,S
177,1069,1,"Stengel, Mr. Charles Emil Henry",male,54.00,1,0,11778,55.4417,C116,C
178,1070,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36.00,0,3,230136,39.0000,F4,S
179,1071,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C
180,1072,2,"McCrie, Mr. James Matthew",male,30.00,0,0,233478,13.0000,NaN,S
181,1073,1,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C
182,1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmic...",female,18.00,1,0,113773,53.1000,D30,S
183,1075,3,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q
184,1076,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C
185,1077,2,"Maybery, Mr. Frank Hubert",male,40.00,0,0,239059,16.0000,NaN,S
186,1078,2,"Phillips, Miss. Alice Frances Louisa",female,21.00,0,1,S.O./P.P. 2,21.0000,NaN,S
187,1079,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,NaN,S
188,1080,3,"Sage, Miss. Ada",female,NaN,8,2,CA. 2343,69.5500,NaN,S
189,1081,2,"Veal, Mr. James",male,40.00,0,0,28221,13.0000,NaN,S
190,1082,2,"Angle, Mr. William A",male,34.00,1,0,226875,26.0000,NaN,S
191,1083,1,"Salomon, Mr. Abraham L",male,NaN,0,0,111163,26.0000,NaN,S
192,1084,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
193,1085,2,"Lingane, Mr. John",male,61.00,0,0,235509,12.3500,NaN,Q
194,1086,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,NaN,S
195,1087,3,"Karlsson, Mr. Julius Konrad Eugen",male,33.00,0,0,347465,7.8542,NaN,S
196,1088,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,E34,C
197,1089,3,"Nilsson, Miss. Berta Olivia",female,18.00,0,0,347066,7.7750,NaN,S
198,1090,2,"Baimbrigge, Mr. Charles Robert",male,23.00,0,0,C.A. 31030,10.5000,NaN,S
199,1091,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,NaN,0,0,65305,8.1125,NaN,S
200,1092,3,"Murphy, Miss. Nora",female,NaN,0,0,36568,15.5000,NaN,Q
201,1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
202,1094,1,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C
203,1095,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,NaN,S
204,1096,2,"Andrew, Mr. Frank Thomas",male,25.00,0,0,C.A. 34050,10.5000,NaN,S
205,1097,1,"Omont, Mr. Alfred Fernand",male,NaN,0,0,F.C. 12998,25.7417,NaN,C
206,1098,3,"McGowan, Miss. Katherine",female,35.00,0,0,9232,7.7500,NaN,Q
207,1099,2,"Collett, Mr. Sidney C Stuart",male,24.00,0,0,28034,10.5000,NaN,S
208,1100,1,"Rosenbaum, Miss. Edith Louise",female,33.00,0,0,PC 17613,27.7208,A11,C
209,1101,3,"Delalic, Mr. Redjo",male,25.00,0,0,349250,7.8958,NaN,S
210,1102,3,"Andersen, Mr. Albert Karvin",male,32.00,0,0,C 4001,22.5250,NaN,S
211,1103,3,"Finoli, Mr. Luigi",male,NaN,0,0,SOTON/O.Q. 3101308,7.0500,NaN,S
212,1104,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,NaN,S
213,1105,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60.00,1,0,24065,26.0000,NaN,S
214,1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38.00,4,2,347091,7.7750,NaN,S
215,1107,1,"Head, Mr. Christopher",male,42.00,0,0,113038,42.5000,B11,S
216,1108,3,"Mahon, Miss. Bridget Delia",female,NaN,0,0,330924,7.8792,NaN,Q
217,1109,1,"Wick, Mr. George Dennick",male,57.00,1,1,36928,164.8667,NaN,S
218,1110,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.00,1,1,113503,211.5000,C80,C
219,1111,3,"Thomson, Mr. Alexander Morrison",male,NaN,0,0,32302,8.0500,NaN,S
220,1112,2,"Duran y More, Miss. Florentina",female,30.00,1,0,SC/PARIS 2148,13.8583,NaN,C
221,1113,3,"Reynolds, Mr. Harold J",male,21.00,0,0,342684,8.0500,NaN,S
222,1114,2,"Cook, Mrs. (Selena Rogers)",female,22.00,0,0,W./C. 14266,10.5000,F33,S
223,1115,3,"Karlsson, Mr. Einar Gervasius",male,21.00,0,0,350053,7.7958,NaN,S
224,1116,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C
225,1117,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
226,1118,3,"Asplund, Mr. Johan Charles",male,23.00,0,0,350054,7.7958,NaN,S
227,1119,3,"McNeill, Miss. Bridget",female,NaN,0,0,370368,7.7500,NaN,Q
228,1120,3,"Everett, Mr. Thomas James",male,40.50,0,0,C.A. 6212,15.1000,NaN,S
229,1121,2,"Hocking, Mr. Samuel James Metcalfe",male,36.00,0,0,242963,13.0000,NaN,S
230,1122,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,NaN,S
231,1123,1,"Willard, Miss. Constance",female,21.00,0,0,113795,26.5500,NaN,S
232,1124,3,"Wiklund, Mr. Karl Johan",male,21.00,1,0,3101266,6.4958,NaN,S
233,1125,3,"Linehan, Mr. Michael",male,NaN,0,0,330971,7.8792,NaN,Q
234,1126,1,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C
235,1127,3,"Vendel, Mr. Olof Edvin",male,20.00,0,0,350416,7.8542,NaN,S
236,1128,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,D37,C
237,1129,3,"Baccos, Mr. Raffull",male,20.00,0,0,2679,7.2250,NaN,C
238,1130,2,"Hiltunen, Miss. Marta",female,18.00,1,1,250650,13.0000,NaN,S
239,1131,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C
240,1132,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.00,0,0,112377,27.7208,NaN,C
241,1133,2,"Christy, Mrs. (Alice Frances)",female,45.00,0,2,237789,30.0000,NaN,S
242,1134,1,"Spedden, Mr. Frederic Oakley",male,45.00,1,1,16966,134.5000,E34,C
243,1135,3,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S
244,1136,3,"Johnston, Master. William Arthur Willie""""",male,NaN,1,2,W./C. 6607,23.4500,NaN,S
245,1137,1,"Kenyon, Mr. Frederick R",male,41.00,1,0,17464,51.8625,D21,S
246,1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.00,0,0,F.C.C. 13534,21.0000,NaN,S
247,1139,2,"Drew, Mr. James Vivian",male,42.00,1,1,28220,32.5000,NaN,S
248,1140,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.00,1,0,26707,26.0000,NaN,S
249,1141,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,NaN,1,0,2660,14.4542,NaN,C
250,1142,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,NaN,S
251,1143,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00,0,0,SOTON/O2 3101284,7.9250,NaN,S
252,1144,1,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C
253,1145,3,"Salander, Mr. Karl Johan",male,24.00,0,0,7266,9.3250,NaN,S
254,1146,3,"Wenzel, Mr. Linhart",male,32.50,0,0,345775,9.5000,NaN,S
255,1147,3,"MacKay, Mr. George William",male,NaN,0,0,C.A. 42795,7.5500,NaN,S

In [327]:
result=pd.DataFrame({"PassengerId":write['PassengerId'],"Survived":pred})
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
30           922         0
31           923         0
32           924         1
33           925         0
34           926         1
35           927         0
36           928         0
37           929         0
38           930         0
39           931         0
40           932         0
41           933         1
42           934         0
43           935         1
44           936         1
45           937         0
46           938         0
47           939         0
48           940         1
49           941         1
50           942         0
51           943         0
52           944         1
53           945         1
54           946         0
55           947         0
56           948         0
57           949         0
58           950         0
59           951         1
60           952         0
61           953         0
62           954         0
63           955         1
64           956         1
65           957         1
66           958         1
67           959         0
68           960         0
69           961         1
70           962         1
71           963         0
72           964         0
73           965         1
74           966         1
75           967         0
76           968         0
77           969         1
78           970         0
79           971         1
80           972         1
81           973         0
82           974         0
83           975         0
84           976         0
85           977         0
86           978         1
87           979         0
88           980         1
89           981         1
90           982         1
91           983         0
92           984         1
93           985         0
94           986         0
95           987         0
96           988         1
97           989         0
98           990         1
99           991         0
100          992         1
101          993         0
102          994         0
103          995         0
104          996         1
105          997         0
106          998         0
107          999         0
108         1000         0
109         1001         0
110         1002         0
111         1003         1
112         1004         1
113         1005         1
114         1006         1
115         1007         0
116         1008         0
117         1009         1
118         1010         0
119         1011         1
120         1012         1
121         1013         0
122         1014         1
123         1015         0
124         1016         0
125         1017         1
126         1018         0
127         1019         1
128         1020         0
129         1021         0
130         1022         0
131         1023         0
132         1024         0
133         1025         0
134         1026         0
135         1027         0
136         1028         0
137         1029         0
138         1030         0
139         1031         0
140         1032         0
141         1033         1
142         1034         0
143         1035         0
144         1036         0
145         1037         0
146         1038         0
147         1039         0
148         1040         0
149         1041         0
150         1042         1
151         1043         0
152         1044         0
153         1045         1
154         1046         0
155         1047         0
156         1048         1
157         1049         1
158         1050         1
159         1051         1
160         1052         1
161         1053         1
162         1054         1
163         1055         0
164         1056         0
165         1057         0
166         1058         0
167         1059         0
168         1060         1
169         1061         0
170         1062         0
171         1063         0
172         1064         0
173         1065         0
174         1066         0
175         1067         1
176         1068         1
177         1069         0
178         1070         1
179         1071         1
180         1072         0
181         1073         1
182         1074         1
183         1075         0
184         1076         1
185         1077         0
186         1078         1
187         1079         0
188         1080         0
189         1081         0
190         1082         0
191         1083         0
192         1084         1
193         1085         0
194         1086         1
195         1087         0
196         1088         1
197         1089         1
198         1090         0
199         1091         1
200         1092         1
201         1093         1
202         1094         1
203         1095         1
204         1096         0
205         1097         0
206         1098         1
207         1099         0
208         1100         1
209         1101         0
210         1102         0
211         1103         0
212         1104         0
213         1105         1
214         1106         0
215         1107         0
216         1108         1
217         1109         0
218         1110         1
219         1111         0
220         1112         1
221         1113         0
222         1114         1
223         1115         0
224         1116         1
225         1117         1
226         1118         0
227         1119         1
228         1120         0
229         1121         0
230         1122         0
231         1123         1
232         1124         0
233         1125         0
234         1126         1
235         1127         0
236         1128         0
237         1129         0
238         1130         1
239         1131         1
240         1132         1
241         1133         1
242         1134         0
243         1135         0
244         1136         0
245         1137         0
246         1138         1
247         1139         0
248         1140         1
249         1141         1
250         1142         1
251         1143         0
252         1144         0
253         1145         0
254         1146         0
255         1147         0
256         1148         0
257         1149         0
258         1150         1
259         1151         0
260         1152         0
261         1153         0
262         1154         1
263         1155         1
264         1156         0
265         1157         0
266         1158         0
267         1159         0
268         1160         0
269         1161         0
270         1162         0
271         1163         0
272         1164         1
273         1165         1
274         1166         0
275         1167         1
276         1168         0
277         1169         0
278         1170         0
279         1171         0
280         1172         0
281         1173         1
282         1174         1
283         1175         1
284         1176         1
285         1177         0
286         1178         0
287         1179         0
288         1180         0
289         1181         0
290         1182         0
291         1183         1
292         1184         0
293         1185         0
294         1186         0
295         1187         0
296         1188         1
297         1189         0
298         1190         0
299         1191         0
300         1192         0
301         1193         0
302         1194         0
303         1195         0
304         1196         1
305         1197         1
306         1198         0
307         1199         1
308         1200         0
309         1201         0
310         1202         0
311         1203         0
312         1204         0
313         1205         1
314         1206         1
315         1207         1
316         1208         0
317         1209         0
318         1210         0
319         1211         0
320         1212         0
321         1213         0
322         1214         0
323         1215         0
324         1216         1
325         1217         0
326         1218         1
327         1219         0
328         1220         0
329         1221         0
330         1222         1
331         1223         0
332         1224         0
333         1225         1
334         1226         0
335         1227         0
336         1228         0
337         1229         0
338         1230         0
339         1231         0
340         1232         0
341         1233         0
342         1234         0
343         1235         1
344         1236         1
345         1237         1
346         1238         0
347         1239         1
348         1240         0
349         1241         1
350         1242         1
351         1243         0
352         1244         0
353         1245         0
354         1246         1
355         1247         0
356         1248         1
357         1249         0
358         1250         0
359         1251         1
360         1252         0
361         1253         1
362         1254         1
363         1255         0
364         1256         1
365         1257         0
366         1258         0
367         1259         0
368         1260         1
369         1261         0
370         1262         0
371         1263         1
372         1264         0
373         1265         0
374         1266         1
375         1267         1
376         1268         0
377         1269         0
378         1270         0
379         1271         0
380         1272         0
381         1273         0
382         1274         1
383         1275         1
384         1276         0
385         1277         1
386         1278         0
387         1279         0
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

In [328]:
result.to_csv("submission.csv", index=False)

In [228]:
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
30           922         0
31           923         0
32           924         1
33           925         0
34           926         1
35           927         0
36           928         0
37           929         0
38           930         0
39           931         1
40           932         0
41           933         1
42           934         0
43           935         1
44           936         1
45           937         0
46           938         0
47           939         0
48           940         1
49           941         1
50           942         0
51           943         0
52           944         1
53           945         1
54           946         0
55           947         0
56           948         0
57           949         0
58           950         0
59           951         1
60           952         0
61           953         0
62           954         0
63           955         1
64           956         1
65           957         1
66           958         1
67           959         0
68           960         0
69           961         1
70           962         1
71           963         0
72           964         0
73           965         1
74           966         1
75           967         0
76           968         0
77           969         1
78           970         0
79           971         1
80           972         1
81           973         0
82           974         0
83           975         0
84           976         0
85           977         0
86           978         1
87           979         0
88           980         1
89           981         1
90           982         0
91           983         0
92           984         1
93           985         0
94           986         0
95           987         0
96           988         1
97           989         0
98           990         1
99           991         0
100          992         1
101          993         0
102          994         0
103          995         0
104          996         1
105          997         0
106          998         0
107          999         0
108         1000         0
109         1001         0
110         1002         0
111         1003         1
112         1004         1
113         1005         1
114         1006         1
115         1007         0
116         1008         0
117         1009         1
118         1010         0
119         1011         1
120         1012         1
121         1013         0
122         1014         1
123         1015         0
124         1016         0
125         1017         1
126         1018         0
127         1019         1
128         1020         0
129         1021         0
130         1022         0
131         1023         0
132         1024         0
133         1025         0
134         1026         0
135         1027         0
136         1028         0
137         1029         0
138         1030         0
139         1031         0
140         1032         0
141         1033         1
142         1034         0
143         1035         0
144         1036         1
145         1037         0
146         1038         0
147         1039         0
148         1040         1
149         1041         0
150         1042         1
151         1043         0
152         1044         0
153         1045         1
154         1046         0
155         1047         0
156         1048         1
157         1049         1
158         1050         1
159         1051         1
160         1052         1
161         1053         1
162         1054         1
163         1055         0
164         1056         0
165         1057         0
166         1058         0
167         1059         0
168         1060         1
169         1061         0
170         1062         0
171         1063         0
172         1064         0
173         1065         0
174         1066         0
175         1067         1
176         1068         1
177         1069         0
178         1070         1
179         1071         1
180         1072         0
181         1073         0
182         1074         1
183         1075         0
184         1076         1
185         1077         0
186         1078         1
187         1079         0
188         1080         0
189         1081         0
190         1082         0
191         1083         0
192         1084         1
193         1085         0
194         1086         1
195         1087         0
196         1088         1
197         1089         1
198         1090         0
199         1091         1
200         1092         1
201         1093         1
202         1094         0
203         1095         1
204         1096         0
205         1097         0
206         1098         0
207         1099         0
208         1100         1
209         1101         0
210         1102         0
211         1103         0
212         1104         0
213         1105         1
214         1106         0
215         1107         0
216         1108         1
217         1109         0
218         1110         1
219         1111         0
220         1112         1
221         1113         0
222         1114         1
223         1115         0
224         1116         1
225         1117         1
226         1118         0
227         1119         1
228         1120         0
229         1121         0
230         1122         0
231         1123         1
232         1124         0
233         1125         0
234         1126         1
235         1127         0
236         1128         0
237         1129         0
238         1130         1
239         1131         1
240         1132         1
241         1133         1
242         1134         0
243         1135         0
244         1136         0
245         1137         1
246         1138         1
247         1139         0
248         1140         1
249         1141         0
250         1142         1
251         1143         0
252         1144         0
253         1145         0
254         1146         0
255         1147         0
256         1148         0
257         1149         0
258         1150         1
259         1151         0
260         1152         0
261         1153         0
262         1154         1
263         1155         1
264         1156         0
265         1157         0
266         1158         0
267         1159         0
268         1160         0
269         1161         0
270         1162         0
271         1163         0
272         1164         1
273         1165         1
274         1166         0
275         1167         1
276         1168         0
277         1169         0
278         1170         0
279         1171         0
280         1172         0
281         1173         1
282         1174         1
283         1175         0
284         1176         1
285         1177         0
286         1178         0
287         1179         0
288         1180         0
289         1181         0
290         1182         0
291         1183         0
292         1184         0
293         1185         1
294         1186         0
295         1187         0
296         1188         1
297         1189         0
298         1190         0
299         1191         0
300         1192         0
301         1193         0
302         1194         0
303         1195         0
304         1196         1
305         1197         1
306         1198         0
307         1199         1
308         1200         0
309         1201         0
310         1202         0
311         1203         0
312         1204         0
313         1205         0
314         1206         1
315         1207         1
316         1208         0
317         1209         0
318         1210         0
319         1211         0
320         1212         0
321         1213         0
322         1214         0
323         1215         1
324         1216         1
325         1217         0
326         1218         1
327         1219         0
328         1220         0
329         1221         0
330         1222         1
331         1223         0
332         1224         0
333         1225         1
334         1226         0
335         1227         0
336         1228         0
337         1229         0
338         1230         0
339         1231         1
340         1232         0
341         1233         0
342         1234         0
343         1235         1
344         1236         1
345         1237         1
346         1238         0
347         1239         1
348         1240         0
349         1241         1
350         1242         1
351         1243         0
352         1244         0
353         1245         0
354         1246         1
355         1247         0
356         1248         1
357         1249         0
358         1250         0
359         1251         1
360         1252         0
361         1253         1
362         1254         1
363         1255         0
364         1256         1
365         1257         0
366         1258         0
367         1259         0
368         1260         1
369         1261         0
370         1262         0
371         1263         1
372         1264         0
373         1265         0
374         1266         1
375         1267         1
376         1268         0
377         1269         0
378         1270         0
379         1271         0
380         1272         0
381         1273         0
382         1274         1
383         1275         1
384         1276         0
385         1277         1
386         1278         0
387         1279         0
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1